<h1><u>Loops and Conditions</u></h1>
<p>Objective : To explore different types of loops and conditional statements available in python.
<p style="color:#666666">Last updated: 3th Mar 2017<br>Akshay Sehgal, www.asehgal.com</p>

<h2>1. Introduction</h2>

<p>All programming languages utilize a specific list of conditional arguments to access large arrays of data elements for reading or overwriting the data. The brief list of these arguments is as follows:
<ul><b>
<li>If statement</li>
<li>If-Else statement</li>
<li>Chained conditions</li>
<li>Nested conditions</li>
<li>For loop</li>
<li>While statement</li>
<li>Table</li>
</b></ul>

<p>More details on how to implement each of these is listed below.</p>

In [7]:
#Loading data
import os
import pandas as pd

os.chdir('C:\\Users\\Akshay\\Documents\\iPython\\Personal\\Practice')
os.getcwd()

df = pd.read_excel('titanic.xls')
df.head(2)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

<h2>2. If Statement</h2>

<p>This is the simplest of all conditional statements. It simply checks a given rule and returns a boolean output such as TRUE or FALSE. The structure of if statement is as follows</p><br>
<code>if BOOLEAN EXPRESSION:</code><br>
<code>STATEMENTS</code>
<p>Its important to note that the colon (:) is necessary to separate the boolean expression from the statements.</p>

In [ ]:
#Checking how many