In [ ]:
import itertools
imageList = ['1.jpg','2.jpg','3.jpg','4.jpg','5.jpg','6.jpg','7.jpg','8.jpg','9.jpg','10.jpg']

image_generator = (i for i in itertools.product(imageList,repeat=2) if i[0]!=i[1])

for i in range(8):
    print(next(image_generator))

In [ ]:
def image_generator(imageList, shuffle=True):

In [ ]:
from heapq import nlargest

def sample_from_iterable(it):
    return (x for _, x in (random.random(), x) for x in it)

In [ ]:
import random

In [ ]:
import random
import itertools

def image_generator(iterable, groups, samplesize):
    grouped = (i for i in itertools.product(imageList,repeat=2) if i[0]!=i[1])
    return random.sample(list(grouped), samplesize)

image_generator(imageList, 2, 8)

[('8.jpg', '7.jpg'),
 ('7.jpg', '10.jpg'),
 ('7.jpg', '2.jpg'),
 ('6.jpg', '7.jpg'),
 ('5.jpg', '3.jpg'),
 ('2.jpg', '1.jpg'),
 ('10.jpg', '5.jpg'),
 ('9.jpg', '10.jpg')]

In [ ]:
%%timeit
random.shuffle(imageList)
for _ in range(2):
    i=0
    while(i<8):
        a = imageList[i], imageList[i+1]
        i+=2

In [ ]:
%%timeit

def image_generator(l):
    while True:
        random.shuffle(l)
        yield l[:2]
        
for i in range(8):
    next(image_generator(imageList))

In [ ]:
%%timeit
def image_generator(iterable, groups, samplesize):
    grouped = (i for i in itertools.product(imageList,repeat=2) if i[0]!=i[1])
    return random.sample(list(grouped), samplesize)

image_generator(imageList, 2, 8)

In [ ]:
import numpy as np

In [ ]:
x_ax = np.array(list(range(1, 101)))
y_ax = np.array(list(range(101,201)))

In [ ]:
np.vstack([x_ax, y_ax])

In [ ]:
from sklearn.cluster import KMeans, MiniBatchKMeans

In [ ]:
kmeans.inertia_

In [ ]:
import io
import sys
import numpy as np
from sklearn.cluster import KMeans

def train_kmeans(X):
    kmeans = KMeans(n_clusters=5, verbose=2, n_init=1)
    kmeans.fit(X)
    return kmeans

old_stdout = sys.stdout
new_stdout = io.StringIO()
sys.stdout = new_stdout

X = np.random.random((1000,7))
train_kmeans(X)

output = new_stdout.getvalue()

sys.stdout = old_stdout

In [ ]:
inertia = [float(i[i.find('inertia')+len('inertia')+1:]) for i in output.split('\n')[1:-2]]
import matplotlib.pyplot as plt

plt.plot(inertia)

In [ ]:
import io
import sys
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

#Dummy data
X = np.random.random((1000,7)) 

def train_kmeans(X):
    kmeans = KMeans(n_clusters=5, verbose=2, n_init=1) #<-- init=1, verbose=2
    kmeans.fit(X)
    return kmeans

#HELPER FUNCTION
#Takes the returned and printed output of a function and returns it as variables
#In this case, returned is the model and printed is the verbose intertia at each iteration

def redirect_wrapper(f, inp):
    old_stdout = sys.stdout
    new_stdout = io.StringIO()
    sys.stdout = new_stdout

    returned = f(inp)                #<- Call function

    printed = new_stdout.getvalue()  #<- store printed output

    sys.stdout = old_stdout
    return returned, printed


returned, printed = redirect_wrapper(train_kmeans, X)

#Extract inertia values
inertia = [float(i[i.find('inertia')+len('inertia')+1:]) for i in printed.split('\n')[1:-2]]

#Plot!
plt.plot(inertia)

In [ ]:
from tensorflow.keras import layers, Model, utils

inp = layers.Input((128,128,1))     ##
x = layers.Conv2D(2, (3,3))(inp) ##  Convolution part
x = layers.Conv2D(4, (3,3))(x)   ##
x = layers.Conv2D(6, (3,3))(x)   ##

##########

x = layers.Conv2DTranspose(6, (3,3))(x)
x = layers.Conv2DTranspose(4, (3,3))(x)   ##   ##  Deconvolution part
out = layers.Conv2DTranspose(1, (3,3))(x) ##

model = Model(inp, out)
utils.plot_model(model, show_shapes=True, show_layer_names=False)

In [ ]:
clean_arr=[np.array([[0., 10., 10.],\
                     [0., 2., 30.],\
                     [0., 3., 5.],\
                     [0., 3., 40.]]),\
           np.array([[0., -1., -4.],\
                     [0., -2., -3.],\
                     [0., -3., -5.],\
                     [0., -3., -6.]])]

In [ ]:
dup_arr=[np.array([[0., 10., 10.],\
                   [0., 2., 30.],\
                   [0., 3., 5.],\
                   [0., 3., 5.],\
                   [0., 3., 40.]]),\
         np.array([[0., -1., -4.],\
                   [0., -2., -3.],\
                   [0., -3., -5.],\
                   [0., -3., -6.],\
                   [0., -3., -6.]])]

In [ ]:
[i[np.sort(np.unique(i, axis=0, return_index=True)[1])] for i in dup_arr]

In [ ]:
def f(a):
    indexes = np.unique(a, axis=0, return_index=True)[1]
    return a[np.sort(indexes)]

[f(i) for i in dup_arr]

In [ ]:
input_bottom = [1,2,3,4,5,6]     # <--------------- List size changes 
input_bottom_numpy = np.array([1,2,3,4,5,6])

In [ ]:
def dosomething(x):
    """
    Do something
    """
    return x+1

f = lambda x: 3*dosomething(x)

out1 = [3*dosomething(i) for i in range(len(input_bottom))]
out2 = np.apply_along_axis(f,0,range(len(input_bottom)))

print(out1==out2)

[ True  True  True  True  True  True]

In [ ]:
out1 = [3*dosomething(i) for i in range(len(input_bottom))]
out2 = np.apply_along_axis(f,0,range(len(input_bottom)))

print(out1==out2)

[ True  True  True  True  True  True]

In [ ]:
def dosomething(x):
    """
    Do something
    """
    return x+1

f = lambda x: 3*dosomething(x)

input_bottom = [1,2,3,4,5,6]
np.vectorize(f)(input_bottom)

In [ ]:
f(np.arange(6))

In [ ]:
d = {
'bids': [['34657.70000000', '0.57150000'], ['34655.76000000', '0.00035500'], ['34654.28000000', '0.01431800']],
'asks': [['34657.70000000', '0.57150000'], ['34655.76000000', '0.00035500'], ['34654.28000000', '0.01431800']]
}

bp, bv, ap, av = [j for i in d.values() for j in list(zip(*i))]

print('bids price:', bp)
print('bids volume:', bv)
print('asks price:', ap)
print('asks volume:', av)

In [ ]:
v = np.array([[-3.33829, -3.42467, -3.53332],
   [-2.67681, -2.6082 , -3.49502],
   [-3.49497, -2.73177, -2.61499],
   [-2.76056, -3.57753, -2.67334],
   [-1.96801, -3.47521, -3.51974],
   [-1.25571, -2.69451, -3.45554],
   [-1.94568, -2.59504, -2.72568],
   [-1.28991, -3.47927, -2.73176],
   [-0.51201, -3.50684, -3.40448],
   [ 0.22398, -2.70244, -3.43421]])

In [ ]:
for i in v:
    for j in v:
        for k in v:
            d2 = (k-i)**2
            d1 = (j-i)**2
    print(np.exp(d1+d2))

In [ ]:
import numpy as np

In [ ]:
%%timeit
diff = (v[:,None]-v)**2     #10,10,3
power = diff[:,None]+diff   #10,10,10,3
exp = np.exp(power)         #10,10,10,3
d = np.sum(exp,(1,2))       #10,3

In [ ]:
%%timeit
np.exp(((v[:,None]-v)**2)[:,None] + ((v[:,None]-v)**2)).sum((1,2))

In [ ]:
v = np.random.random((10,3))

In [ ]:
%%timeit
np.exp(((v[:,None]-v)**2)[:,None] + ((v[:,None]-v)**2)).sum((0,1))

In [ ]:
%%timeit
np.exp((v[None,:,None,:] - v[None,None,:,:])**2 + (v[:,None,None,:] - v[None,None,:,:])**2).sum((0,1))

In [ ]:
diffs = ((v[:, None] - v) ** 2)
print(diffs),
d = np.exp(diffs + diffs[:, None]).sum((0, 1))

In [ ]:
vv = (v[:,None]-v)**2
print(np.shares_memory(vv, v))
print(np.shares_memory(v[:,None], v))

In [ ]:
inp = np.arange(0,20).reshape((4,5))
inp

In [ ]:
list(zip(seq,seq[1:]))

In [ ]:
def get_neighbors(seq,matrix):
    #Conditions
    
    left = lambda x,y,m: y==x+1
    right = lambda x,y,m: y==x-1
    up = lambda x,y,m: y==x-m
    down = lambda x,y,m: y==x+m
    
    params = zip(seq, seq[1:], [matrix.shape[1]]*(len(seq)-1))
    
    neighbours = [any([left(*i),right(*i),up(*i),down(*i)]) for i in params]
    count = sum(neighbours)
    return neighbours, count


seq = [7,8,6,3]
matrix = np.arange(0,20).reshape((4,5))

neighbours, count = get_neighbors(seq, matrix)

print(count)

In [ ]:
def get_neighbors(seq,matrix):
    
    #Conditions
    check = lambda x,y,m: np.abs(x-y)==1 or np.abs(x-y)==m
    
    #Pairs of sequences appended with m
    params = zip(seq, seq[1:], [matrix.shape[1]]*(len(seq)-1))
    
    neighbours = [check(*i) for i in params]
    count = sum(neighbours)
    return neighbours, count

seq = [7,8,6,3]
matrix = np.arange(1,10).reshape((3,3))
neighbours, count = get_neighbors(seq, matrix)

print('Matrix:')
print(matrix)
print('')
print('Sequence:', seq)
print('')
print('Count of neighbors:',count)

In [ ]:
left = lambda x,y,m: y==x+1
right = lambda x,y,m: y==x-1
up = lambda x,y,m: y==x-m
down = lambda x,y,m: y==x+m

params = zip(seq, seq[1:], [inp.shape[1]]*(len(seq)-1))

[any([left(*i),right(*i),up(*i),down(*i)]) for i in params]

In [ ]:
[any(left(*i),right(*i),up(*i),down(*i)) for i in zip(seq, seq[1:], [inp.shape[1]]*(len(seq)-1))]

In [ ]:
inp.reshape((1,-1))

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def _hit_rate(df):
    df['hit'] = 1
    return df['ca'].mean()

a = pd.DataFrame({'geo':['AP','AP','AP','SD','SD','SD'],'lower':[1.2,1.2,1.2,1.3,1.3,1.3],'ca':[1,1,1,2,2,2]})
print(a)

b = a.groupby(['geo']).apply(_hit_rate)
print(b)

In [ ]:
np.tensordot(arr)

In [19]:
xx = np.diagonal(np.einsum('ijkl,imkl->jmkl',arr,arr)).transpose(2,0,1)

In [ ]:
A_T_1 = np.transpose(arr, (2,3,0,1))
A_T_2 = np.transpose(arr, (2,3,1,0))
C_all = A_T_2 @ A_T_1
D_all = np.diagonal(C_all, axis1=2, axis2=3)
B = np.transpose(D_all, (2,0,1))

In [ ]:
A_T_1 = np.transpose(arr, (2,3,0,1))
A_T_2 = np.transpose(arr, (2,3,1,0))
C_all = A_T_2 @ A_T_1
D_all = np.diagonal(C_all, axis1=2, axis2=3)
B = np.transpose(D_all, (2,0,1))

In [ ]:
B.shape

In [ ]:
np.all(xx == tensordot)

In [21]:
tensordot = np.tensordot(arr, arr, axes=([0,2],[0,3]))

In [30]:
import numpy as np
arr = np.random.random((15, 2, 320, 320))

In [31]:
np.einsum('ijkl,ijkl->jkl',arr,arr).shape

(2, 320, 320)

In [32]:
A = np.array([0, 1, 2])

B = np.array([[ 0,  1,  2,  3],
              [ 4,  5,  6,  7],
              [ 8,  9, 10, 11]])

In [35]:
print(A[:, np.newaxis].shape, B.shape)

(3, 1) (3, 4)

In [37]:
(A[:, np.newaxis] * B).sum(axis=1)

array([ 0, 22, 76])

In [49]:
import numpy as np
from tensorflow.keras import layers, Model, utils

X = np.random.random((100,10,3))
y = np.random.random((100,))

inp = layers.Input((10,3))
x = layers.Bidirectional(layers.LSTM(8, return_sequences=True))(inp)
x = layers.Bidirectional(layers.LSTM(8))(x)
out = layers.Dense(1, activation='softmax')(x)

model = Model(inp, out)
utils.plot_model(model, show_layer_names=False, show_shapes=True)

model.compile(optimizer='adam', loss='binary_crossentropy')
model.fit(X, y, epochs=3)

Epoch 1/3
4/4 [==============================] - 5s 10ms/step - loss: 0.6963
Epoch 2/3
4/4 [==============================] - 0s 22ms/step - loss: 0.6965
Epoch 3/3
4/4 [==============================] - 0s 11ms/step - loss: 0.6976
<tensorflow.python.keras.callbacks.History at 0x7f91066bf4c0>

Epoch 1/3
4/4 [==============================] - 5s 10ms/step - loss: 0.6963
Epoch 2/3
4/4 [==============================] - 0s 22ms/step - loss: 0.6965
Epoch 3/3
4/4 [==============================] - 0s 11ms/step - loss: 0.6976

In [57]:
x = [[1,2,3], [4,5,6]]
for i in range(len(x)):
    print(x[i][1])
    

s = 0
x = [[1,2,3], [4,5,6]]
for i in range(len(x)):
    s+=x[i][1]
print(s)
    
    
sum([i[1] for i in x])

2
5
7

7

In [58]:
l = []
x = [[1,2,3], [4,5,6]]
for i in range(len(x)):
    l.append(x[i][1])

print(sum(l))

7

In [59]:
d = {0: 'select distinct id,',
 1: 'feed_id,',
 2: 'eff_date',
 3: 'from(',
 4: 'select t1.id,',
 5: 't1.feed_id,',
 6: 't2.eff_dt,',
 7: 'name,',
 8: 'type',
 9: 'from table1 t1',
 10: 'inner join table2 t2 on (t1.eff_dt = t2.eff_dt',
 11: 'where t2.eff_dt = cast (("2022/01/20") as DATE)',
 12: "and (t2.name = 'abc'",
 13: "or t2.name='pqr'))"}

0

In [74]:
d.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])

In [72]:
d.pop()

TypeError: unhashable type: 'dict_keys'

In [76]:
d = {0: 'select distinct id,',
 1: 'feed_id,',
 2: 'eff_date',
 3: 'from(',
 4: 'select t1.id,',
 5: 't1.feed_id,',
 6: 't2.eff_dt,',
 7: 'name,',
 8: 'type',
 9: 'from table1 t1',
 10: 'inner join table2 t2 on (t1.eff_dt = t2.eff_dt',
 11: 'where t2.eff_dt = cast (("2022/01/20") as DATE)',
 12: "and (t2.name = 'abc'",
 13: "or t2.name='pqr'))"}

# let d be the original dictionary
k,v = list(d.keys()), list(d.values())
new = {k[0]:v}
new

{0: ['select distinct id,',
  'feed_id,',
  'eff_date',
  'from(',
  'select t1.id,',
  't1.feed_id,',
  't2.eff_dt,',
  'name,',
  'type',
  'from table1 t1',
  'inner join table2 t2 on (t1.eff_dt = t2.eff_dt',
  'where t2.eff_dt = cast (("2022/01/20") as DATE)',
  "and (t2.name = 'abc'",
  "or t2.name='pqr'))"]}

In [70]:
# let d be the original dictionary
k,v = list(d.keys()), list(d.values())
new = {k[0]:v}
new

{0: ['select distinct id,',
  'feed_id,',
  'eff_date',
  'from(',
  'select t1.id,',
  't1.feed_id,',
  't2.eff_dt,',
  'name,',
  'type',
  'from table1 t1',
  'inner join table2 t2 on (t1.eff_dt = t2.eff_dt',
  'where t2.eff_dt = cast (("2022/01/20") as DATE)',
  "and (t2.name = 'abc'",
  "or t2.name='pqr'))"]}

{0: ['select distinct id,',
  'feed_id,',
  'eff_date',
  'from(',
  'select t1.id,',
  't1.feed_id,',
  't2.eff_dt,',
  'name,',
  'type',
  'from table1 t1',
  'inner join table2 t2 on (t1.eff_dt = t2.eff_dt',
  'where t2.eff_dt = cast (("2022/01/20") as DATE)',
  "and (t2.name = 'abc'",
  "or t2.name='pqr'))"]}

In [80]:
import pandas
import re
import sqlparse


query = "(select t1.id, t1.feed_id, t2.eff_dt, name, type from table1 t1 INNER JOIN table2 t2 ON ( t1.eff_dt = t2.eff_dt WHERE t2.eff_dt = CAST ( ('2020/12/20') AS DATE) and (t2.name = 'abc' or t2.name='pqr'))"
query2= "SELECT DISTINCT id, feed_id, eff_date FROM"
newInput= input('enter the eff_dt:')
new_where = '("'+newInput+'")'
query1= re.sub("(?<=WHERE t2.eff_dt = CAST \( )(.*)(?= AS DATE)", new_where , query, flags=re.IGNORECASE)
formatted_query = sqlparse.format(query1, reindent=True, keyword_case='lower')
formatted_query1 = sqlparse.format(query2, reindent=True, keyword_case='lower')

a = formatted_query.strip()
a1 = formatted_query1.strip()
newformat = a1+a
newformat.lstrip()
dict_list = newformat.split('\n')

dictOfWords = { i : dict_list[i] for i in range(0, len(dict_list) ) }

newDict = dict(zip(dictOfWords.keys(), [v.strip() if isinstance(v,str) else v for v in dictOfWords.values()]))
k,v = list(newDict.keys()), list(newDict.values())
new = {k[0]:v}
new

enter the eff_dt:2022/01/20

{0: ['select distinct id,',
  'feed_id,',
  'eff_date',
  'from(',
  'select t1.id,',
  't1.feed_id,',
  't2.eff_dt,',
  'name,',
  'type',
  'from table1 t1',
  'inner join table2 t2 on (t1.eff_dt = t2.eff_dt',
  'where t2.eff_dt = cast (("2022/01/20") as DATE)',
  "and (t2.name = 'abc'",
  "or t2.name='pqr'))"]}

In [81]:
import pandas as pd
y_train = pd.DataFrame({0: {14194: 'Fake', 13891: 'Fake', 13247: 'Fake', 11236: 'Fake', 2716: 'Real', 2705: 'Real', 16133: 'Fake', 7652: 'Real', 7725: 'Real', 16183: 'Fake'}})

X_train = pd.DataFrame({'one': {14194: 'e',
  13891: 'b',
  13247: 'v',
  11236: 't',
  2716: 'e',
  2705: 'e',
  16133: 'h',
  7652: 's',
  7725: 's',
  16183: 's'},
 'two': {14194: 'a',
  13891: 'a',
  13247: 'e',
  11236: 'n',
  2716: 'c',
  2705: 'a',
  16133: 'n',
  7652: 'e',
  7725: 'h',
  16183: 'e'},
 'three': {14194: 's',
  13891: 'l',
  13247: 'n',
  11236: 'c',
  2716: 'h',
  2705: 'r',
  16133: 'i',
  7652: 'r',
  7725: 'e',
  16183: 's'},
 'four': {14194: 'd',
  13891: 'e',
  13247: 'r',
  11236: 'g',
  2716: 'o',
  2705: 'r',
  16133: 'p',
  7652: 'v',
  7725: 'r',
  16183: 'i'},
 'five': {14194: 'f',
  13891: 'b',
  13247: 'o',
  11236: 'b',
  2716: 'i',
  2705: 'i',
  16133: 'i',
  7652: 'i',
  7725: 'b',
  16183: 'i'},
 'six': {14194: 'p',
  13891: 's',
  13247: 'l',
  11236: 'l',
  2716: 'n',
  2705: 'n',
  16133: 'n',
  7652: 'l',
  7725: 'e',
  16183: 'u'},
 'seven': {14194: 's',
  13891: 's',
  13247: 's',
  11236: 'e',
  2716: 'g',
  2705: 'g',
  16133: 's',
  7652: 'e',
  7725: 't',
  16183: 'r'}})

In [85]:
X_train

      one two three four five six seven
14194   e   a     s    d    f   p     s
13891   b   a     l    e    b   s     s
13247   v   e     n    r    o   l     s
11236   t   n     c    g    b   l     e
2716    e   c     h    o    i   n     g
2705    e   a     r    r    i   n     g
16133   h   n     i    p    i   n     s
7652    s   e     r    v    i   l     e
7725    s   h     e    r    b   e     t
16183   s   e     s    i    i   u     r

In [92]:
pool

In [131]:
from catboost import CatBoostClassifier
from catboost import Pool
cat_features = list(X_train.columns)
pool = Pool(X_train, y_train, cat_features=list(range(7)), feature_names=cat_features)
model = CatBoostClassifier(verbose=0).fit(pool)


model.plot_tree(tree_idx=1,pool=pool)

In [133]:
model.get_all_params()['one_hot_max_size']

2

### Types of splits in Catboost

There are three types of splits: `FloatFeature`, `OneHotFeature` and `OnlineCtr`. These are based on the encoding that is done on the features.

1. **FloatFeature:** A float feature split takes a float type feature and calculates optimal `borders` that maximize criterion. A float feature is represented in the visualization as with a feature index and border value:

```
9, border<257.23
```

2. **OneHotFeature**: In a one hot feature, each class can be represented by a `max of n possible values (0 or 1)`. The `n` is decided by a parameter called `one_hot_max_size` which is set to 2 by default.  Note in the titanic dataset case, `Sex` has only 2 possible values, `Male` or `Female`. If you set `one_hot_max_size=4` then catboost uses one hot to encode features with upto 4 unique classes (e.g. Pclass in titanic has 3 unique classes). A one hot feature is represented with the feature name, and its value: 

```
Sex, value=Female
```

3. **OnlineCtr**: A counter the third type of split that you can see in a catboost model. Counters are not calculated for features that are used with one-hot encoding ([link](https://catboost.ai/docs/features/categorical-features.html)). If the number of possible classes in a feature exceed the limit set by `one_hot_max_size` then catboost automatically uses counter to encode features and thus type of split is a OnlineCtr. Its represented with the feature name, some dummy tokens that represent unique classes and a value (frequency): 

```
{five} pr_num1 tb0 type0, value>9
```

### Analyzing the dataset at hand

Lets first look at the number of unique classes in each of the features.

```
from catboost import CatBoostClassifier, Pool
import pandas as pd

X_train.describe().loc['unique']
```
```
one      6
two      5
three    8
four     8
five     4
six      6
seven    5
Name: unique, dtype: object
```

As you can see, the minimum number of unique classes is 4 (in feature called "five") and the maximum is 8. Lets set our `one_hot_max_size = 4`.

```
cat_features = list(X_train.columns)
pool = Pool(X_train, y_train, cat_features=list(range(7)), feature_names=cat_features)
model = CatBoostClassifier(verbose=0, one_hot_max_size=4).fit(pool)

model.plot_tree(tree_idx=1,pool=pool)
```

###IMAGE FOR ONEHOT4

The feature "five" is now `OneHotFeature` and results in a split description of `five, value=i`. However, feature "One" is still a `OnlineCtr`.

Lets now set the `one_hot_max_size = 8`, which is the max possible unique classes. This would ensure that each of the features is not `OneHotFeature` and not `OnlineCtr`

```
cat_features = list(X_train.columns)
pool = Pool(X_train, y_train, cat_features=list(range(7)), feature_names=cat_features)
model = CatBoostClassifier(verbose=0, one_hot_max_size=8).fit(pool)

model.plot_tree(tree_idx=1,pool=pool)
```

####IMAGE FOR ONEHOT8

Hope this clarifies your question about why `Sex` from titanic is being displayed in different manner as compared to the features that you are working with.

For more reading on this check these links - 
1. https://colab.research.google.com/github/catboost/tutorials/blob/master/model_analysis/model_export_as_json_tutorial.ipynb
2. https://catboost.ai/docs/features/categorical-features.html
3. https://catboost.ai/docs/concepts/algorithm-main-stages_cat-to-numberic.html#algorithm-main-stages_cat-to-numberic

one      6
two      5
three    8
four     8
five     4
six      6
seven    5
Name: unique, dtype: object

In [161]:
cat_features = list(X_train.columns)
pool = Pool(X_train, y_train, cat_features=list(range(7)), feature_names=cat_features)
model = CatBoostClassifier(verbose=0, one_hot_max_size=4).fit(pool)

model.plot_tree(tree_idx=1,pool=pool)

In [164]:
cat_features = list(X_train.columns)
pool = Pool(X_train, y_train, cat_features=list(range(7)), feature_names=cat_features)
model = CatBoostClassifier(verbose=0, one_hot_max_size=8).fit(pool)

model.plot_tree(tree_idx=1,pool=pool)

In [ ]:
model.

In [107]:
from sklearn.preprocessing import LabelEncoder

In [112]:
X_train2 = X_train.apply(LabelEncoder().fit_transform)

In [116]:
from catboost import CatBoostClassifier
from catboost import Pool

cat_features = list(X_train2.columns)
pool = Pool(X_train2, y_train, cat_features=list(range(7)), feature_names=cat_features)
model = CatBoostClassifier(verbose=0).fit(pool)

model.plot_tree(tree_idx=1,pool=pool)  # "pool" is required parameter for trees with one hot features

In [118]:
titanic_df[0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [95]:
cat_features_index

array([ 0,  1,  2,  3,  5,  6,  7,  9, 10])

In [91]:
import catboost
from catboost import CatBoostClassifier, Pool

from catboost.datasets import titanic
titanic_df = titanic()

X = titanic_df[0].drop('Survived',axis=1)
y = titanic_df[0].Survived

is_cat = (X.dtypes != float)
for feature, feat_is_cat in is_cat.to_dict().items():
    if feat_is_cat:
        X[feature].fillna("NAN", inplace=True)

cat_features_index = np.where(is_cat)[0]
pool = Pool(X, y, cat_features=cat_features_index, feature_names=list(X.columns))

model = CatBoostClassifier(
    max_depth=2, verbose=False, max_ctr_complexity=1, iterations=2).fit(pool)

model.plot_tree(
    tree_idx=0,
    pool=pool
)

In [120]:
model['features_info']#['float_features'][0]

TypeError: 'CatBoostClassifier' object is not subscriptable

In [124]:
meta = model.get_metadata()
meta.keys()

['catboost_version_info',
 'train_finish_time',
 'class_params',
 'output_options',
 'model_guid',
 'params']

In [125]:
model.

In [130]:
model.get_all_params()

{'nan_mode': 'Min',
 'eval_metric': 'Logloss',
 'combinations_ctr': ['Borders:CtrBorderCount=15:CtrBorderType=Uniform:TargetBorderCount=1:TargetBorderType=MinEntropy:Prior=0/1:Prior=0.5/1:Prior=1/1',
  'Counter:CtrBorderCount=15:CtrBorderType=Uniform:Prior=0/1'],
 'iterations': 1000,
 'sampling_frequency': 'PerTree',
 'fold_permutation_block': 0,
 'leaf_estimation_method': 'Newton',
 'counter_calc_method': 'SkipTest',
 'grow_policy': 'SymmetricTree',
 'penalties_coefficient': 1,
 'boosting_type': 'Plain',
 'model_shrink_mode': 'Constant',
 'feature_border_type': 'GreedyLogSum',
 'ctr_leaf_count_limit': 18446744073709551615,
 'bayesian_matrix_reg': 0.10000000149011612,
 'one_hot_max_size': 4,
 'l2_leaf_reg': 3,
 'random_strength': 1,
 'rsm': 1,
 'boost_from_average': False,
 'max_ctr_complexity': 4,
 'model_size_reg': 0.5,
 'simple_ctr': ['Borders:CtrBorderCount=15:CtrBorderType=Uniform:TargetBorderCount=1:TargetBorderType=MinEntropy:Prior=0/1:Prior=0.5/1:Prior=1/1',
  'Counter:CtrBorderCount=15:CtrBorderType=Uniform:Prior=0/1'],
 'subsample': 1,
 'use_best_model': False,
 'class_names': ['Fake', 'Real'],
 'random_seed': 0,
 'depth': 6,
 'ctr_target_border_count': 1,
 'posterior_sampling': False,
 'has_time': False,
 'store_all_simple_ctr': False,
 'border_count': 254,
 'classes_count': 0,
 'auto_class_weights': 'None',
 'sparse_features_conflict_fraction': 0,
 'leaf_estimation_backtracking': 'AnyImprovement',
 'best_model_min_trees': 1,
 'model_shrink_rate': 0,
 'min_data_in_leaf': 1,
 'loss_function': 'Logloss',
 'learning_rate': 0.001442000037059188,
 'score_function': 'Cosine',
 'task_type': 'CPU',
 'leaf_estimation_iterations': 10,
 'bootstrap_type': 'MVS',
 'max_leaves': 64,
 'permutation_count': 4}

In [170]:
df['position'] = [(3,4),(4,5),(7,8),(9,10)]

In [166]:
df = pd.read_clipboard('\s\s+')

In [171]:
df

   frame position  time
0      1   (3, 4)     5
1      2   (4, 5)     6
2     10   (7, 8)    14
3     11  (9, 10)    15

In [177]:
df.rolling(2)

Rolling [window=2,center=False,axis=0]

In [ ]:
frame  position   times 
1      (x1,y1)    5
2      (x2,y2)    6
10     (x10,y10)  14 
11     (x11,y11)  15

In [240]:
df = pd.read_clipboard('\s\s+')
df['position'] = [(3,4),(4,5),(7,8),(9,10)]

In [244]:
print(df.to_dict())

{'frame': {0: 1, 1: 2, 2: 10, 3: 11}, 'position': {0: (3, 4), 1: (4, 5), 2: (7, 8), 3: (9, 10)}, 'times': {0: 5, 1: 6, 2: 14, 3: 15}}

In [247]:
df = pd.DataFrame({'frame': [1,2,10,11],
                   'position': [(3,4),(4,5),(7,8),(9,10)], 
                   'times': [5,6,14,15]})

In [180]:
from scipy.spatial import distance

In [187]:
def masscenter(ser):
    print(df.loc[ser.index])
    df.
    return 0

rol = df.frame.rolling(window=2)
rol.apply(masscenter, raw=False)

   frame position  time
0      1   (3, 4)     5
1      2   (4, 5)     6
   frame position  time
1      2   (4, 5)     6
2     10   (7, 8)    14
   frame position  time
2     10   (7, 8)    14
3     11  (9, 10)    15

0    NaN
1    0.0
2    0.0
3    0.0
Name: frame, dtype: float64

TypeError: can't multiply sequence by non-int of type 'float'

In [200]:
[i for i in df.position.rolling(2)]

NotImplementedError: See issue #11704 https://github.com/pandas-dev/pandas/issues/11704

In [ ]:
def masscenter(ser):
    print(df.loc[ser.index])
    return 0

rol = df.price.rolling(window=2)
rol.apply(masscenter, raw=False)

In [248]:
import pandas as pd
from scipy.spatial import distance

In [251]:
df = pd.DataFrame({'frame': [1,2,10,11],
                   'position': [(3,4),(4,5),(7,8),(9,10)], 
                   'time': [5,6,14,15]})

def euc(rows):
    d = df.loc[rows.index]
    numer = distance.euclidean(d.position.iloc[1],d.position.iloc[0])
    denom = d.time.iloc[1]-d.time.iloc[0]
    return numer/denom

roll = df.frame.rolling(window=2)
df['euc'] = roll.apply(euc, raw=False)
print(df)

   frame position  time       euc
0      1   (3, 4)     5       NaN
1      2   (4, 5)     6  1.414214
2     10   (7, 8)    14  0.530330
3     11  (9, 10)    15  2.828427

In [293]:
np.split(df1.to_numpy(), 2)[0][1,1]

6

In [291]:
i[1,0]

TypeError: 'int' object is not subscriptable

In [300]:
[df[i] not in f]

KeyError: 1

In [312]:

## REMOVING COLUMNS THAT ARE IN FILTER
out2 = df.drop(f, axis=1)
print(out2)

          b         e
0  0.492916  0.534971
1  0.167386  0.381723
2  0.419879  0.708026
3  0.536441  0.773500
4  0.015564  0.999838

          b         e
0  0.492916  0.534971
1  0.167386  0.381723
2  0.419879  0.708026
3  0.536441  0.773500
4  0.015564  0.999838

In [313]:
df = pd.DataFrame(np.random.random((5,5)), columns=['a','b','c','d','e'])
f = ['a','c','d']

# KEEPING COLUMNS THAT ARE IN FILTER
out1 = df[f]
print(out1)

## REMOVING COLUMNS THAT ARE IN FILTER
out2 = df.drop(f, axis=1)
print(out2)

          a         c         d
0  0.152540  0.084573  0.239266
1  0.212450  0.389596  0.084338
2  0.146721  0.036695  0.499293
3  0.332293  0.216440  0.139351
4  0.614034  0.390081  0.882613
          b         e
0  0.982967  0.034764
1  0.969704  0.565422
2  0.791740  0.796081
3  0.849679  0.140243
4  0.883660  0.364091

In [315]:
df.columns not in f

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [353]:
import tensorflow as tf
tf.__version__

'2.4.0'

In [354]:
!python --version

Python 3.8.3

In [355]:
!python -c "import tensorflow as tf; print(tf.version.GIT_VERSION, tf.version.VERSION)"

v2.4.0-rc4-71-g582c8d236cb 2.4.0

In [352]:
#Scenario 2: Uppercase case Accuracy (accuracy displayed / epoch always 0)

from tensorflow import keras
from tensorflow.keras import layers

X_train = np.random.random((100,8))
y_train = np.random.randint(0,2,(100,))

model = keras.Sequential(
    [
     layers.Dense(10,activation="relu",input_shape=(8,)),
     layers.Dense(10,activation="relu"),
     layers.Dense(1,activation="sigmoid")
    ]
)

model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['Accuracy'])
model.fit(X_train,y_train,batch_size=64,epochs=2,verbose=2)
print(model.metrics)

# Epoch 1/2
# 2/2 - 0s - loss: 0.7021 - accuracy: 0.0000e+00
# Epoch 2/2
# 2/2 - 0s - loss: 0.6999 - accuracy: 0.0000e+00
        
# [<tensorflow.python.keras.metrics.Mean object at 0x7f90c80e4bb0>, 
#  <tensorflow.python.keras.metrics.Accuracy object at 0x7f90ca039a30>]

Epoch 1/2
2/2 - 0s - loss: 0.7021 - accuracy: 0.0000e+00
Epoch 2/2
2/2 - 0s - loss: 0.6999 - accuracy: 0.0000e+00
[<tensorflow.python.keras.metrics.Mean object at 0x7f90c80e4bb0>, <tensorflow.python.keras.metrics.Accuracy object at 0x7f90ca039a30>]

[<tensorflow.python.keras.metrics.Mean at 0x7f90e7285e20>,
 <tensorflow.python.keras.metrics.Accuracy at 0x7f90e72fceb0>]

In [340]:
import tensorflow as tf
tf.__version__

'2.4.0'

In [349]:
{'a':1, 'b':1}.get('A')

In [299]:
df = pd.DataFrame(np.random.random((5,5)), columns=['a','b','c','d','e'])
f = ['a','c','d']

df.drop(df[df[i] not in f].index, inplace=True)

KeyError: 1

In [295]:
df = pd.DataFrame({'frame': [1,2,10,11],
                   'position': [(3,4),(4,5),(7,8),(9,10)], 
                   'time': [5,6,14,15]})

#Operations on tuple are not easy!
df['x'] = [i[0] for i in df['position']]
df['y'] = [i[1] for i in df['position']]

df1 = df.drop('position', axis=1)

def euc(i):
    numer = distance.euclidean(i[0,2:],i[1,2:])
    denom = i[1,1]-i[0,1]
    return numer/denom

[euc(i) for i in np.split(df1.to_numpy(), 2)]

[1.4142135623730951, 2.8284271247461903]

In [272]:
df.to_numpy()

array([[1, (3, 4), 5],
       [2, (4, 5), 6],
       [10, (7, 8), 14],
       [11, (9, 10), 15]], dtype=object)

array([1, (3, 4), 5], dtype=object)

In [276]:
sum(df.to_numpy()[0], df.to_numpy()[1])

TypeError: can only concatenate tuple (not "int") to tuple

In [277]:
sum((3,5),(2,3))

TypeError: can only concatenate tuple (not "int") to tuple

In [275]:
list(sum(df.to_numpy()[0], ()))

TypeError: can only concatenate tuple (not "int") to tuple

In [259]:
[i for i in np.split(df.to_numpy(), 2)]

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [234]:
def euc(rows):
    d = df.loc[rows.index]
    numer = distance.euclidean(d.position.iloc[1],d.position.iloc[0])
    denom = d.time.iloc[1]-d.time.iloc[0]
    return numer/denom

roll = df.frame.rolling(window=2)
roll.apply(euc, raw=False)

0         NaN
1    1.414214
2    0.530330
3    2.828427
Name: frame, dtype: float64

In [211]:
df.rolling

TypeError: must be real number, not list

In [212]:
-df.x.rolling(2)

TypeError: bad operand type for unary -: 'Rolling'

In [204]:
df['x'] = [i[0] for i in df['position']]
df['y'] = [i[1] for i in df['position']]

In [205]:
df

   frame position  time  x   y
0      1   (3, 4)     5  3   4
1      2   (4, 5)     6  4   5
2     10   (7, 8)    14  7   8
3     11  (9, 10)    15  9  10

In [ ]:
diff = lambda x: x.iloc[1]-x.iloc[1]
euc = lambda

In [208]:
df.time.rolling(2).apply(pd.Series.diff)

TypeError: cannot convert the series to <class 'float'>

In [328]:
df = pd.DataFrame({'A':[8,5,2,3,2,2,1,11,8,6],
                   'Desired':[3,4,4,4,3,2,1,1,None,None]})

In [331]:
rol = df.A.rolling(4)

rol.apply(lambda x:x.iloc[0])

0    NaN
1    NaN
2    NaN
3    8.0
4    5.0
5    2.0
6    3.0
7    2.0
8    2.0
9    1.0
Name: A, dtype: float64

In [333]:
df.A.cumsum()

0     8
1    13
2    15
3    18
4    20
5    22
6    23
7    34
8    42
9    48
Name: A, dtype: int64

In [324]:
dict1 = {"a": 3, 'b': 4}
dict2 = {"a": 3, 'c': 5}
dict3 = {"a": 1, 'b': 2}
dict4 = {"a": 1, 'c': 8}

dict_result = [{"a": 3, 'b': 4, 'c': 5},{"a": 1, 'b': 2, 'c': 8}]

In [359]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Using cached fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [371]:
from fuzzywuzzy import fuzz, process

a = ['hi','there']  
b = ['hello','their']
match = [(i,*process.extractOne(i, b, scorer=fuzz.partial_token_sort_ratio)) for i in a]
match

[('hi', 'hello', 50), ('there', 'their', 80)] #query, bestchoice, score

[('hi', 'hello', 50), ('there', 'their', 80)]

In [374]:
import numpy as np

match[np.argmax([i[2] for i in match])]

('there', 'their', 80)

('there', 'their', 80)

In [375]:
import itertools
from fuzzywuzzy import fuzz
import numpy as np

scores = [fuzz.partial_token_sort_ratio(i, j) for i,j in itertools.product(a,b)]
list(itertools.product(a,b))[np.argmax(scores)]

('there', 'their')

In [383]:
a = [[0,0,0,0,0,0,0,0,0,0,0,0,0,0],
 [0,0,0,0,0,0,1,0,0,1,1,1,1,0],
 [0,0,0,0,0,0,1,0,0,1,0,0,1,0],
 [0,0,0,0,0,0,1,0,0,1,0,0,1,0],
 [0,0,0,0,0,0,1,0,0,1,0,0,1,0],
 [0,0,0,0,0,0,1,0,0,1,1,1,1,0],
 [0,0,0,0,0,0,1,0,0,1,0,0,0,0],
 [0,0,0,0,0,0,1,0,0,1,0,0,0,0],
 [0,0,0,0,0,0,1,1,1,1,1,1,1,0],
 [0,0,0,0,0,0,0,0,0,0,0,0,0,0]]

In [385]:
a

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [ ]:
check = lambda x,y,m: np.abs(x-y)==1 or np.abs(x-y)==m

In [398]:
def check_uprl(x, y):
    lr = lambda x, y: x[0]==y[0] and np.abs(x[1]-y[1])==1 #same row, adjacent column
    ud = lambda x, y: x[1]==y[1] and np.abs(x[0]-y[0])==1 #same column, adjacent row
    return any([lr(x,y), ud(x,y)])

In [402]:
path = [list(np.argwhere(a)[0]),]

draw = np.argwhere(a)
remaining = np.argwhere(a)

for i in remaining:

In [472]:
#Your predefined rankings
education_rank = {'Bachelors':12, 'HS-grad':8, '11th':6, 'Masters':14, '12th':77}

#Your frequency output from value_counts()
fd_education = pd.Series({'Bachelors':500, 'HS-grad':809, '11th':23, 'Masters':65})
    
fd_education = fd_education.sort_index(level='hello')
print(fd_education)

```
11th          23
Bachelors    500
HS-grad      809
Masters       65
dtype: int64

11th          23
Bachelors    500
HS-grad      809
Masters       65
dtype: int64

In [467]:
#Your predefined rankings
education_rank = {'Bachelors':12, 'HS-grad':8, '11th':6, 'Masters':14, '12th':77}

#Your frequency output from value_counts()
fd_education = pd.Series({'Bachelors':500, 'HS-grad':809, '11th':23, 'Masters':65})

fd_education[pd.Series(education_rank).sort_values().index].dropna()

11th          23.0
HS-grad      809.0
Bachelors    500.0
Masters       65.0
dtype: float64

In [531]:
'Accuracy'.lower()

'accuracy'

In [473]:
import pandas as pd

df=pd.DataFrame([['a','b','c']]*100, columns=['col_a','col_b','col_c'])

def calculate(a, b):
    #return two values
    a+=1
    b+=1
    return a,b

def go_func(a,b):
    #call the calc function and return pd.Series
    return pd.Series(calculate(a, b))

In [474]:
df[['Result1','Result2']]=df.apply(lambda x: go_func(3,4), axis=1)

In [475]:
df

   col_a col_b col_c  Result1  Result2
0      a     b     c        4        5
1      a     b     c        4        5
2      a     b     c        4        5
3      a     b     c        4        5
4      a     b     c        4        5
..   ...   ...   ...      ...      ...
95     a     b     c        4        5
96     a     b     c        4        5
97     a     b     c        4        5
98     a     b     c        4        5
99     a     b     c        4        5

[100 rows x 5 columns]

In [504]:
{"#":"1", "files": [("test.txt",1),("example.out",1)]}.values()

dict_values(['1', [('test.txt', 1), ('example.out', 1)]])

In [477]:
unsorted_dict = [{"#":"1", "files": [("test.txt",1),("example.out",1)]},
             {"#":"2", "files": [("other.txt",0),("test.txt",3)]},
             {"#":"3", "files": [("example.out",0)]},
             {"#":"4", "files": [("test.txt",2)]}]

In [478]:
unsorted_dict

[{'#': '1', 'files': [('test.txt', 1), ('example.out', 1)]},
 {'#': '2', 'files': [('other.txt', 0), ('test.txt', 3)]},
 {'#': '3', 'files': [('example.out', 0)]},
 {'#': '4', 'files': [('test.txt', 2)]}]

In [530]:
order = [max([i[1] for i in i.get('files')]) for i in unsorted_dict]
sorted_dict = [unsorted_dict[i] for i in reversed(order)]
sorted_dict

[{'#': '3', 'files': [('example.out', 0)]},
 {'#': '1', 'files': [('test.txt', 1), ('example.out', 1)]},
 {'#': '4', 'files': [('test.txt', 2)]},
 {'#': '2', 'files': [('other.txt', 0), ('test.txt', 3)]}]

[{'#': '3', 'files': [('example.out', 0)]},
 {'#': '1', 'files': [('test.txt', 1), ('example.out', 1)]},
 {'#': '4', 'files': [('test.txt', 2)]},
 {'#': '2', 'files': [('other.txt', 0), ('test.txt', 3)]}]

[{'#': '3', 'files': [('example.out', 0)]},
 {'#': '1', 'files': [('test.txt', 1), ('example.out', 1)]},
 {'#': '4', 'files': [('test.txt', 2)]},
 {'#': '2', 'files': [('other.txt', 0), ('test.txt', 3)]}]

In [532]:
import pandas as pd

df = pd.DataFrame(
    data=[
        [None, "1,2,3", None],
        ["3,4,5", None, "1,4,5"],
        [None, "1,3,6", None],
    ],
    index=["YYZ", "YEG", "BRU"],
    columns=["ANA", "JAL", "KLM"],
)
df

       ANA    JAL    KLM
YYZ   None  1,2,3   None
YEG  3,4,5   None  1,4,5
BRU   None  1,3,6   None

In [541]:
df.applymap(lambda x: set(map(int,x.split(','))) if x!=None else {})

           ANA        JAL        KLM
YYZ         {}  {1, 2, 3}         {}
YEG  {3, 4, 5}         {}  {1, 4, 5}
BRU         {}  {1, 3, 6}         {}

In [540]:
x = '1,2,3,4'

set(x.split(',')) if x!=None else {}

{'1', '2', '3', '4'}

In [ ]:
A = np.random.rand(15, 2, 320, 320)
B1 = np.zeros((2, 320, 320))  # store the final results
 
for row in range (320):
        for col in range (320):
            C = np.dot(A[:, :, row, col].T, A[:, :, row, col]) # the shape of C is [2 x 2]
            C = np.diag(C)
            B1[:, row, col] = C

B2 = (A*A).sum(0)

np.allclose(B1, B2)
True

In [549]:
A1 = np.random.rand(2, 320, 320)
A2 = np.random.rand(15, 2, 320, 320)
B   = np.zeros((2, 320, 320))

for row in range (320):
    for col in range (320):
        C = np.diag(A1[:, row, col]) - (np.dot(A2[:, :, row, col].T, A2[:, :, row, col]) / 15) # the shape of array C is (2, 2)
        C = np.diag(C)                
        B[:, row, col] = C

In [ ]:
np.diag(A1[:, row, col])

cuul

In [ ]:
string = "cool"
print(string.replace(string[1], "u"))

index = 1
char = 'u'
print(string[:index] + char + string[index + 1:])

'cuol'

In [571]:
string.replace()

'cuol'

In [638]:
import io

file = "| $100 on the first line\n| $654 on the second line\n| $123 on the third line\n| $111 on the fourth line"
txt = io.StringIO(file).getvalue()

idx = txt.rfind('$')
txt[idx+1:].split()[0]

'111'

In [625]:
e = 100**100
"{:.2e}".format(e)

'1.00e+200'

In [617]:
100**100

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [641]:
data = [{'name' : 'messi', 'place': 'barcelona'}, {'name': 'salah', 'place': 'liverpool'}, 
        {'name': 'neymar', 'place': 'paris'}, {'name': 'suarez', 'place': 'barcelona'}]

sorted(data, key=lambda x: (x['name'], x['place']))

[{'name': 'messi', 'place': 'barcelona'},
 {'name': 'neymar', 'place': 'paris'},
 {'name': 'salah', 'place': 'liverpool'},
 {'name': 'suarez', 'place': 'barcelona'}]

In [646]:
data.sort(key=lambda x: (x['name'], x['place']))

In [644]:
data

[{'name': 'messi', 'place': 'barcelona'},
 {'name': 'neymar', 'place': 'paris'},
 {'name': 'salah', 'place': 'liverpool'},
 {'name': 'suarez', 'place': 'barcelona'}]

In [626]:
c = {"name":"aman","age":16,"class":10,"subject":"maths"}

In [631]:
tups = list(c.items())
tups[0][0]='age'

TypeError: 'tuple' object does not support item assignment

In [632]:
from collections import defaultdict

d = defaultdict(list)

for k,v in c.items():
    if k=='name':
        d['age'].append(v)
    else:
        d[k].append(v)
        
print(dict(d))

{'age': ['aman', 16], 'class': [10], 'subject': ['maths']}

{'age': ['aman', 16], 'class': [10], 'subject': ['maths']}

In [663]:
from tensorflow import keras
from tensorflow.keras.layers import Dense, Dropout 
from tensorflow.keras.optimizers import SGD
import numpy as np

train_x = np.random.random((100,8))
train_y = np.random.random((100,4))

model=keras.Sequential()
model.add(Dense(128, input_shape=(len(train_x[0]),), activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(len(train_y[0]), activation='softmax'))
sgd= SGD(lr=0.01, decay=1e-6, momentum=0.9,nesterov=True)
model.compile(loss='categorical_crossentropy', optimizer= sgd, metrics= 
['accuracy'])

model.fit(np.array(train_x),np.array(train_y),epochs=3,batch_size=5,
verbose=1)
print("training is done")
print(model.summary())

Epoch 1/3
20/20 [==============================] - 0s 820us/step - loss: 2.6962 - accuracy: 0.0820
Epoch 2/3
20/20 [==============================] - 0s 807us/step - loss: 2.9444 - accuracy: 0.3395
Epoch 3/3
20/20 [==============================] - 0s 741us/step - loss: 336196611196720054272.0000 - accuracy: 0.2951
training is done
Model: "sequential_24"
_________________________________________________________________
Layer (type)                 Output Shape              Param #   
=================================================================
dense_66 (Dense)             (None, 128)               1152      
_________________________________________________________________
dropout_8 (Dropout)          (None, 128)               0         
_________________________________________________________________
dense_67 (Dense)             (None, 64)                8256      
_________________________________________________________________
dropout_9 (Dropout)          (None, 64)                0         
_________________________________________________________________
dense_68 (Dense)             (None, 4)                 260       
=================================================================
Total params: 9,668
Trainable params: 9,668
Non-trainable params: 0
_________________________________________________________________
None

Epoch 1/3
20/20 [==============================] - 0s 820us/step - loss: 2.6962 - accuracy: 0.0820
Epoch 2/3
20/20 [==============================] - 0s 807us/step - loss: 2.9444 - accuracy: 0.3395
Epoch 3/3
20/20 [==============================] - 0s 741us/step - loss: 336196611196720054272.0000 - accuracy: 0.2951
training is done
Model: "sequential_24"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_66 (Dense)             (None, 128)               1152
_________________________________________________________________
dropout_8 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_67 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout_9 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_68 (Dense)             (None, 4)                 260
=================================================================
Total params: 9,668
Trainable params: 9,668
Non-trainable params: 0
_________________________________________________________________
None

In [787]:
s = slice(1,4)

mask = np.eye(10)[s].sum(0)
print(mask)

[0. 1. 1. 1. 0. 0. 0. 0. 0. 0.]

[0. 1. 1. 1. 0. 0. 0. 0. 0. 0.]

In [ ]:
l = map(slice, row_mins, row_maxs)

In [784]:
np.stack([row_mins, row_maxs])

array([[ 1,  7, 12],
       [ 5, 10, 14]])

In [811]:
masks = [np.eye(NUM_ROWS)[slice(i,j)].sum(0) for i,j in zip(row_mins, row_maxs)]
final = np.logical_or.reduce(masks)
final

array([False,  True,  True,  True,  True, False, False,  True,  True,
        True, False, False,  True,  True, False])

In [768]:
mask[np.s_[slice(1, 4, None)]

slice(1, 4, None)

In [746]:
(, slice(5, 10, None))]

SyntaxError: invalid syntax (<ipython-input-746-359ffb332ad9>, line 1)

In [742]:
NUM_ROWS = 15

## 3 slices (1:5), (7:10), (12:14)
row_mins = np.array([1, 7, 12])
row_maxs = np.array([5, 10, 14])

mask = np.zeros(NUM_ROWS)  #Zeros
idx = np.hstack(list(map(np.arange,row_mins,row_maxs)))  #Indexes to choose
mask[idx]=1  #Set to 1
mask

array([0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0.])

NameError: name 'array' is not defined

In [756]:
np.logical_or.reduce()

TypeError: reduce() missing required argument 'array' (pos 1)

In [813]:
myshape = np.random.random((100,)).shape

In [ ]:
x =

In [818]:
temp_data = pd.DataFrame({'stock_key':['x', 'x', 'x', 'y', 'y', 'y'], 'factor_price':[1, 2, 3, 0, 1, 2]})

#Output: Pd.Series(6, 6, 3, 0, 2, 2)

In [ ]:
pd.Series.cumprod()

In [832]:
print(temp_data[::-1].groupby('stock_key')['factor_price'].cumprod()[::-1])

0    6
1    6
2    3
3    0
4    2
5    2
Name: factor_price, dtype: int64

In [827]:
temp_data

In [844]:
temp = """
digraph G {jumps->fox; jumps->over fox->The
fox->quick
fox->brown
over->dog
dog->the
dog->lazy
}
"""

In [846]:
temp

'\ndigraph G {jumps->fox; jumps->over fox->The\nfox->quick\nfox->brown\nover->dog\ndog->the\ndog->lazy\n}\n'

In [845]:
s = Source(temp, filename="test.gv", format="png")
s.view()

'test.gv.png'

In [857]:
from graphviz import Source

l = [('jumps','fox'),
     ('jumps', 'over'),
     ('fox', 'The'),
     ('fox', 'quick'),
     ('fox', 'brown'),
     ('over', 'dog'),
     ('dog', 'the'),
     ('dog', 'lazy')]

dotgraph = 'digraph G {' + ' '.join([i+'->'+j for i,j in l]) + '}'

print(dotgraph)
s = Source(dotgraph, filename="test1.gv", format="png")
s.view()

digraph G {jumps->fox jumps->over fox->The fox->quick fox->brown over->dog dog->the dog->lazy}

'test1.gv.png'

In [858]:
structure=[['jumps', [['fox', [['The'], ['quick'], ['brown']]], ['over', [['dog', [['the'], ['lazy']]]]]]]]

In [860]:
from collections import defaultdict

In [861]:
graph = defaultdict(defaultdict)

In [868]:
for i in structure:
    print(i, len(i))
    if len(i)==2:
        graph[i[0]]=i[1]

['jumps', [['fox', [['The'], ['quick'], ['brown']]], ['over', [['dog', [['the'], ['lazy']]]]]]] 2

In [869]:
graph

defaultdict(collections.defaultdict,
            {'jumps': [['fox', [['The'], ['quick'], ['brown']]],
              ['over', [['dog', [['the'], ['lazy']]]]]]})

In [863]:
graph

defaultdict(collections.defaultdict, {})

In [870]:
c = np.array([])
liste = ['1', '2', '3']

for i in range(0,len(liste)): 
    c = np.append(c, int(liste[i]), axis=i)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 1 dimension(s) and the array at index 1 has 0 dimension(s)

In [909]:
liste

['1', '2', '3']

In [913]:
n = 4

In [915]:
np.repeat(np.array(liste)[None,:], 4).T

array([['1', '1', '1', '1'],
       ['2', '2', '2', '2'],
       ['3', '3', '3', '3']], dtype='<U1')

array([['1', '1', '1', '1'],
       ['2', '2', '2', '2'],
       ['3', '3', '3', '3']], dtype='<U1')

In [873]:
np.array(liste).reshape(-1,1)

array([['1'],
       ['2'],
       ['3']], dtype='<U1')

array([['1'],
       ['2'],
       ['3']], dtype='<U1')

In [916]:
liste

['1', '2', '3']

In [894]:
z   = [0,0,0],[2,2,2],[0,0],[3],[4,4],[4,4],[4,4],[0,0]
ids = [1,2,3],[11,12,13],[4,5],[9],[20,21],[41,42],[15,16],[33,34]

dicts = [(j[0],i) for i,j in zip(ids, z)]

from collections import defaultdict

d = defaultdict(list)

for k,v in dicts:
    for j in v:
        d[k].append(j)
        
ids_merged = list(d.values())
z_merged = [[list(d.keys())[i]]*len(j) for i,j in enumerate(ids_merged)]

print(z_merged)
print(ids_merged)

[[0, 0, 0, 0, 0, 0, 0], [2, 2, 2], [3], [4, 4, 4, 4, 4, 4]]

[[0, 0, 0, 0, 0, 0, 0], [2, 2, 2], [3], [4, 4, 4, 4, 4, 4]]
[[1, 2, 3, 4, 5, 33, 34], [11, 12, 13], [9], [20, 21, 41, 42, 15, 16]]

In [921]:
n = 4
c = np.empty((len(liste),n))

In [932]:
np.repeat(liste, n).reshape(len(liste),n)

array([['1', '1', '1', '1'],
       ['2', '2', '2', '2'],
       ['3', '3', '3', '3']], dtype='<U1')

In [922]:
np.append(c, 1, axis=0)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 0 dimension(s)

In [984]:
tf.float64.min

-1.7976931348623157e+308

In [991]:
import tensorflow as tf

inputs = np.zeros([1,5])
inputs[0,1] = 0.5
inputs[0,2] = 0.1
inputs = tf.Variable(inputs)

#Returns only the elements that are not masked (2,)
with_boolmask = tf.boolean_mask(inputs, inputs!=0)
with_boolmask = tf.keras.layers.Softmax()(with_boolmask)

#Correct way to do it!
masked_inp = tf.where(inputs!=0, inputs, tf.float64.min) #<----
with_where = tf.keras.layers.Softmax()(masked_inp)

print('BOOLEAN MASK (NOT EXPECTED)')
print(with_boolmask)

print('')
print('MASKED INPUT - ')
print(masked_inp)
print('')
print('SOFTMAX OUTPUT')
print(with_where)

BOOLEAN MASK (NOT EXPECTED)
tf.Tensor([0.59868765 0.40131232], shape=(2,), dtype=float32)

MASKED INPUT -
tf.Tensor(
[[-1.79769313e+308  5.00000000e-001  1.00000000e-001 -1.79769313e+308
  -1.79769313e+308]], shape=(1, 5), dtype=float64)

SOFTMAX OUTPUT
tf.Tensor([[0.         0.59868765 0.40131232 0.         0.        ]], shape=(1, 5), dtype=float32)

In [998]:
tf.keras.layers.Softmax()(inputs, mask=[[0,0,1,1,0]])

RuntimeError: Variable += value not supported. Use variable.assign_add(value) to modify the variable value and variable = variable + value to get a new Tensor object.

In [964]:
masked_inputs

In [965]:
with_masking

<tf.Tensor: shape=(1, 5), dtype=float32, numpy=
array([[0.1737954 , 0.28654018, 0.19207363, 0.1737954 , 0.1737954 ]],
      dtype=float32)>

In [966]:
without_masking

In [1016]:
t = np.random.random((32,32,3))

In [1020]:
def res(t):
    n = np.zeros((3,32,32))

    for j in range(3):
        for k in range(32):
            for l in range(32):
                n[j,k,l]=t[k,l,j]  #<--- fixed indexing

    n=n.reshape(1,3,32,32)
    return n


## METHOD Transpose and Reshape
np.allclose(t.transpose(2,0,1).reshape(1,3,32,32), res(t))
#True

True

True

In [1018]:
original = np.random.random((32,32,3))
new = t.transpose(2,0,1)[None,...]
print(new.shape)

(1, 3, 32, 32)

array([ True,  True, False, False, False,  True, False,  True,  True,
       False])

In [1039]:
arr = np.random.random((10,))
conditions = [arr>0.2, arr**2<=0.5]
arr[np.logical_and(*conditions)]

#array([0.33208271, 0.22984103, 0.58209428, 0.37531787, 0.69639457])

array([0.63168585, 0.58671818, 0.45871314, 0.49304873, 0.43135935,
       0.29314984])

In [1050]:
X = np.random.random((10,))
s = [slice(0,2), slice(4,5)]
X[np.r_[tuple(s)]]

array([0.17135807, 0.11404877, 0.43151553])

In [1051]:
row_mins = np.array([1, 7, 12])
row_maxs = np.array([5, 10, 14])

In [ ]:
import numpy as np

NUM_ROWS = 15

## 3 slices (1:5), (7:10), (12:14)
row_mins = np.array([1, 7, 12])
row_maxs = np.array([5, 10, 14])

mask = np.zeros(NUM_ROWS)  #Zeros
idx = np.hstack(list(map(np.arange,row_mins,row_maxs)))  #Indexes to choose
mask[idx]=1  #Set to 1
mask

In [1054]:
import numpy as np

NUM_ROWS = 15

## 3 slices (1:5), (7:10), (12:14)
row_mins = np.array([1, 7, 12])
row_maxs = np.array([5, 10, 14])

mask = np.zeros(NUM_ROWS) #Zeros
slices = list(map(slice,row_mins,row_maxs)) #List of slices
mask[np.r_[tuple(slices)]]=1     #get ranges from list of slices and then update mask
mask

array([0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0.])

array([0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0.])

In [ ]:
np.random.random()

In [ ]:
bImg = np.float32(bImg)
#break into 8x8 blocks
imgBlocks = [bImg[j:j+8, i:i+8]-128 for (j,i) in itertools.product(range(0,row,8),
                                                                     range(0,col,8))]

In [1080]:
l1= [1, 1, 0]
l2= [0, 1, 1]
rvector = {'analysis', 'data', 'scientist'} 

for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
cosine = c / float(sum(l1)*sum(l2))**0.5

In [1081]:
cosine

array([[6.35863123, 6.35863123, 6.35863123, 6.35863123],
       [6.35863123, 6.35863123, 6.35863123, 6.35863123],
       [6.35863123, 6.35863123, 6.35863123, 6.35863123]])

In [1083]:
cars_dict= { 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45], 
            'country': ['United States','Australia','Japan','India','Russia','Morocco','Egypt'], 
            'drives_right': [True, False, False, False, True, True, True] }

In [1084]:
cars_numpy = np.array(cars_dict)

In [1085]:
cars_numpy

array({'cars_per_cap': [809, 731, 588, 18, 200, 70, 45], 'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 'drives_right': [True, False, False, False, True, True, True]},
      dtype=object)

'United States'