In [ ]:
import random

types = ["places", "names"]

places = ["The Upper Room", "Jerusalem", "Church", "Rome"]
names = ["Jesus", "Desciples", "Paul"]


def get_random_type():
    return random.choice(types)

def get_response(chosentype):
    return random.choice(eval(chosentype))

randtype = get_random_type()
print(randtype)
print(get_response(randtype))

In [ ]:
example_list = [
    ['a','b','c'],
    ['f','g','h'],
    ['i','j','k'],
]

s = '\n'.join([str(tuple(i)) for i in example_list])
print(s)

In [ ]:
a = [[['7', '3', 'SELL', 'chair_1', '30.00'], ['17', '4', 'BID', 'chair_1', '34.00']]]
b = [[['14', '5', 'SELL', 'toaster_1', '14.50', '30']]]
c = [[['10', '1', 'SELL', 'radio_1', '10.00', '30'], ['13', '5', 'BID', 'radio_1', '12.50'], ['16', '6', 'BID', 'radio_1', '12.50']]]
d = [[['12', '4', 'SELL', 'TV_1', '200.00', '35'], ['15', '8', 'BID', 'TV_1', '250.00'], ['18', '1', 'BID', 'TV_1', '150.00'], ['19', '3', 'BID', 'TV_1', '200.00'], ['21', '3', 'BID', 'TV_1', '300.00']]]
e = [[['11', '3', 'SELL', 'transistor_1', '15.00', '30'], ['20', '7', 'BID', 'transistor_1', '20.00']]]

def get_min_auc(auc):
    d = [j for i in auc[0][1:] for j in i if len(j.split('.'))>1]
    try: return min(d)
    except: return 0

print(get_min_auc(a))
print(get_min_auc(b))
print(get_min_auc(c))
print(get_min_auc(d))
print(get_min_auc(e))

In [ ]:
a = "abijkabccbakfgba"

def isp(s):
    return s == s[::-1]

res = (a[i: j] for i in range(len(a)) for j in range(i + 1, len(a) + 1))
palindromes = sorted([i for i in res if isp(i) and len(i)>1], key = lambda x: len(x), reverse=True)[0]
palindromes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
    'Mountain Range': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'D', 'D', 'D', 'D'], 
    'Peak': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's'], 
    'Height above sea level': [2340, 3050, 4220, 2675, 2980, 3300, 3405, 3410, 2970, 2840, 2780, 3140, 3210, 2885, 3000, 3110, 2640, 2635]
    })

In [ ]:
df[df['Mountain Range']=='A'].nlargest(3, 'Height above sea level')

In [ ]:
g = df.groupby('Mountain Range')['Height above sea level'].apply(lambda x: np.sum(x.nlargest(3))).reset_index()
print(g)

g.nlargest(1, 'Height above sea level')['Mountain Range'][0]

In [ ]:
g.nlargest(1, 'Height above sea level')['Mountain Range'][0]

In [ ]:
data = pd.DataFrame({'Name':['Joe','Joe','Jackson','Jackson'],'Computer':['MAC','HP','MAC','HP'],'Data':[10,5,20,15]})

In [ ]:
pd.pivot(data, index='Name',columns='Computer', values='Data')

In [ ]:
print(data.set_index(['Name','Computer']).unstack(-1))

In [ ]:
Change = np.random.randint(-2,4,size=(2,5))
pct_change = np.random.randint(1,3,size=(2,5))
Change_after_calculation = np.zeros_like(pct_change)

for p in range(5):
    for n in range(2):
        if Change[n,p] < 0:
            Change_after_calculation[n,p] = (1+pct_change[n,p]) *  Change[n,p]
        else:
            Change_after_calculation[n,p] = Change[n,p]

In [ ]:

\pct_change

In [ ]:

Change_after_calculation

In [ ]:
for p in range(5):
    for n in range(2):
        if Change[n,p] < 0:
            Change_after_calculation[n,p] = (1+pct_change[n,p]) *  Change[n,p]
        else:
            Change_after_calculation[n,p] = Change[n,p]

In [ ]:
Change_after_calculation

In [ ]:
(Change>=0)*Change +(Change<0)*(pct_change+1)*Change

In [ ]:
colors  = ['red', 'blue', 'yellow' , 'purple']
things = ['apple', 'pickle', 'tomato' , 'rainbow', 'book']

corpus = ['i ate a red apple.', 'There are so many colors in the rainbow.', 'the monster was purple and green.', 'the pickle is very green', 'the kid read the book the little red riding hood', 'in the book the wizard of oz there was a yellow brick road.', 'tom has a green thumb and likes working in a garden.' ]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
out = cv.fit_transform(corpus).toarray() #apply countvectorizer

combined = colors+things  #combine all your topics

c = [(k,v) for k,v in cv.vocabulary_.items() if k in combined] #get indexes for all the items from all topics

cdf = pd.DataFrame(out[:,[i[1] for i in c]], columns=[i[0] for i in c]).T  #Filter cv dataframe for all items

print(cdf)

In [ ]:
def get_similary_table(topic=None):
    if topic==None:
        df = cdf
    else:
        df = cdf.loc[cdf.index.isin(topic)]  #filter by topic
    cnd = df.values
    similarity = cnd.T@cnd #Take dot product to get similarty matrix
    dd = pd.DataFrame(similarity, index=corpus, columns=corpus) #convert to a dataframe
    return dd

In [ ]:
def get_similar_review(s, topic):
    df = cdf.loc[cdf.index.isin(topic)] #filter by topic
    cnd = df.values
    similarity = cnd.T@cnd #Take dot product to get similarty matrix
    np.fill_diagonal(similarity,0) #set diagonal elements to 0, to avoid same sentence being returned as output
    dd = pd.DataFrame(similarity, index=corpus, columns=corpus) #convert to a dataframe
    return dd.loc[s].idxmax(axis=0) #filter by sentence and get column name with max value

In [ ]:
s = 'i ate a red apple.'
get_similar(s, colors)

In [ ]:
s = 'the kid read the book the little red riding hood'
get_similar(s, things)

In [ ]:
get_similary_table()

In [ ]:
a = pd.DataFrame([[1,2,2],[3,4,5]], columns=['A','B','C'])
print(a)

In [ ]:
grp = a.groupby([True]*len(a))
grp

In [ ]:
data = np.array([['country','time','x','y'],
                ['USA',1, 5, 10],
                ['USA',2, 5, 12],
                ['USA',3,6, 13],
                ['CAN',1,2, 2],
                ['CAN',2,2, 3],
                ['CAN',3,4, 5]],                
               )

df = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])

df1 = df.reset_index().set_index(['time','index']).unstack(-1)
print(df1)

In [ ]:
#df1.columns = df1.columns.map('_'.join)

In [ ]:
df1

In [ ]:
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits = 2, max_train_size=3)

for train_index, test_index in tscv.split(df1):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = df1.iloc[train_index].stack(-1).reset_index()[X_cols].to_numpy(), df1.iloc[test_index].stack(-1).reset_index()[X_cols].to_numpy()
    y_train, y_test = df1.iloc[train_index].stack(-1).reset_index()[y_cols].to_numpy(), df1.iloc[test_index].stack(-1).reset_index()[y_cols].to_numpy()

In [ ]:
df1

In [ ]:
X_cols = ['time', 'index', 'x']
y_cols = ['y']

In [ ]:
print('For - TRAIN: [0 1] TEST: [2]')
print(" ")
print("X_train:")
print(X_train)
print(" ")
print("X_test:")
print(X_test)
print(" ")
print("y_train:")
print(y_train)
print(" ")
print("y_test:")
print(y_test)

In [ ]:
print(sorted(mylist, key=lambda x: x.count('0'), reverse=True))

In [ ]:
import pandas as pd

df = pd.DataFrame({'ID': [111, 222, 222, 333, 333, 444, 444, 444, 555, 555, 555, 555], 
                   'Name': ['David','Carl','Carl','Jane','Jane','Mike','Mike','Mike','Jake','Jake','Jake','Jake'],
                  'LE': ['AAA','AAA','BBB','BBB','CCC','AAA','BBB','CCC','AAA','BBB','CCC','DDD']})

print(df)

In [ ]:
print(df[~(df.duplicated(['LE']) & (df['LE']=='AAA'))].reset_index(drop=True))

In [ ]:
ID  |State  |Invoice|Price|Email 
1000|Texas  |1      |2    |texas@test.com
1000|Texas  |2      |5    |texas@test.com
1001|Alabama|3      |4    |alabama@test.com
1000|Texas  |4      |8    |texas@test.com
1002|Georgia|5      |3    |georgia@test.com
1001|Alabama|6      |6    |alabama@test.com

In [ ]:
df = pd.DataFrame({'ID':[1000,1000,1001,1000,1002,1001],
 'State':['Texas','Texas','Alabama','Texas','Georgia','Alabama'],
'Invoice':[1,2,3,4,5,6],
'Price':[2,5,4,8,3,6],
'Email':['texas@test.com','texas@test.com','alabama@test.com','texas@test.com','georgia@test.com','alabama@test.com']})

In [ ]:
df1, df2, df3 = [i[1] for i in df.groupby(['ID'])]

In [ ]:
print(df3)

In [ ]:
df1, df2, df3 = [df[df['ID']==i] for i in df['ID'].unique()]

In [ ]:
df3

In [ ]:
df

In [ ]:
a = np.array([0, 1, 2, 10, 11, 20, 21, 22, 23])
chunks = np.array([3, 2, 4])
repeats = np.array([1, 3, 2])

In [ ]:
a

In [ ]:
a

In [ ]:
a = np.random.randint(0,50, size=(100000,))
chunks = np.random.randint(0,10, size=(4000,))
repeats = np.random.randint(0,10, size=(4000,))

In [ ]:
def create_ranges(starts, ends, l):
        clens = l.cumsum()
        ids = np.ones(clens[-1],dtype=int)
        ids[0] = starts[0]
        ids[clens[:-1]] = starts[1:] - ends[:-1]+1
        out = ids.cumsum()
        return out

def f():
    s = np.r_[0,chunks.cumsum()]
    starts = a[np.repeat(s[:-1],repeats)]
    l = np.repeat(chunks, repeats)
    ends = starts+l
    out = create_ranges(starts, ends, l)

In [ ]:
#Divakar
%timeit f()

In [ ]:
#Akshay
%timeit np.concatenate(np.repeat(np.split(a, np.cumsum(chunks))[:-1], repeats))

In [ ]:
#Vladi
%timeit result = np.concatenate([ np.tile(tbl, rpt) for tbl, rpt in zip(np.split(a, np.cumsum(chunks[:-1])), repeats) ])

In [ ]:
import itertools

w = np.random.randint(1,400,size=1000) #np.array([1, 2, 3, 4])
x = np.random.randint(1,400,size=1000) #np.array([1, 2, 3, 4])

In [ ]:
#[i for i in itertools.product(w,x) if i[0]<i[1]]

In [ ]:
%timeit [i for i in itertools.product(w,x) if i[0]<i[1]]

In [ ]:
def f():
    r,c = np.nonzero(w[:,None]<x) # or np.less.outer(w,x)
    np.c_[w[r], x[c]]
    
%timeit f()

In [ ]:
a = np.array([0,0,1,1,2,0])

In [ ]:
np.transpose(np.nonzero(a))

In [ ]:
import scipy
import pickle

I = np.eye(10000)  #Had 10000 nonzero values along diagonal
S = scipy.sparse.csr_matrix(I)
S

In [ ]:
#Pickle dump
file = open("S.pickle",'wb') #160kb
pickle.dump(S, file)

#Pickle load
file = open("S.pickle",'rb') 
S = pickle.load(file)

In [ ]:
def a():
    l
    h

In [ ]:
S

In [ ]:
S.toarray()

In [ ]:
pos = np.array([[0, 1, 2, 3],
       [2, 3, 4, 5],
       [0, 1, 6, 7],
       [2, 3, 6, 7],
       [2, 3, 8, 9],
       [4, 5, 8, 9],
       [6, 7, 8, 9]])

pos = pos.reshape((7,1,4))
pos

In [ ]:
af = np.zeros((7,2*nnos,4))

In [ ]:
for i in range(7):
    print(i,pos[i],pos[0])

In [ ]:
df = pd.DataFrame({'A':[0,0,1], 
                   'B':[1,0,0], 
                   'C':[0,0,0], 
                   'D':[1,0,1], 
                   'E':[1,0,1]})

In [ ]:
df['new_column'] = df.apply(lambda x: ', '.join(list(x[x!=0].index)), axis=1)

print(df)

In [ ]:
df.dot(df.columns)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df['new_column'] = (df @ df.columns).str.join(', ')

In [ ]:
print(df)

In [ ]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])

In [ ]:
x.shape

In [ ]:
x[:,:,None].shape

In [ ]:
x[None,:,None,:,None].shape

In [ ]:
s = pd.Series(['A','B','C','B','D','A','C'])

In [ ]:
cols = ['A','B','C','D']

print(pd.get_dummies(s).astype(bool)[cols])

In [ ]:
s.str

In [ ]:
s.array

In [ ]:
s

In [ ]:
from skfeature.function.similarity_based import fisher_score
from sklearn.datasets import load_diabetes

db = load_diabetes()
y_train = db.target
X_train = db.data

score = fisher_score.fisher_score(X_train, y_train, mode='rank')
#array([1, 7, 3, 6, 2, 0, 9, 8, 5, 4])
score

In [ ]:
fisher_score.reverse_argsort(score)

In [ ]:
np.sort(score)

In [ ]:
np.argsort(score)[0:5]

In [ ]:
np.argsort(score)

In [ ]:
X_train[:, np.argsort(score)[0:5]]

In [ ]:
import scipy.io

In [ ]:
from io import StringIO

text = """
Date        p_id    points          roll_sum                                
2016-07-29  57        11            11
2016-08-01  57        9             20
2017-01-12  57        5             25
2017-10-23  57        18            23
"""

df = pd.read_csv(StringIO(text), sep='\t')

df

In [ ]:
pd.read_clipboard(sep='\s\s+')

In [ ]:
pd.read_clipboard()

In [ ]:
print_out = '\n'.join([' '.join([str(j) for j in i]) for i in [[1,2,3],[4,5,6]]])
print(print_out)

In [ ]:
matrices = [[matrix_A[i][k] + matrix_B[i][k] for k in range(len(Matrix_A[0]))] for i in range(len(matrix_A))]

In [ ]:
output = [[a[i][j] + b[i][j] for j in range(len(a[0]))] for i in range(len(a))]
print_out = '\n'.join([' '.join([str(j) for j in i]) for i in output])
print(print_out)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_clipboard().drop(['..','valn'], axis=1)

In [ ]:
df1 = df.set_index(['key1', 'key2', 'key3'])

In [ ]:
df2 = pd.concat([df1]*3, axis=1)
df2.columns = df1.columns

In [ ]:
df2.to_dict()

In [ ]:
list(range(3))+list(df1.columns)

In [ ]:
[m+str(n) for m,n in zip(b,a)]

In [ ]:
df1.columns.str.cat()

In [ ]:
df1.columns

## KINU!!

### Z112`E#A31``````````ESADS12````````````````````````````````````6YHN 564REE234

In [ ]:
df = pd.read_clipboard()

In [ ]:
import pandas as pd
from fuzzywuzzy import fuzz, process

emailsdb = list(df['Names'])

l = []
for i in range(len(emailsdb)) :
    email = emailsdb[i]
    emailsdb.pop(i)
    print("comparing:",[email],'->',emailsdb)
    result = process.extractBests(email, emailsdb, score_cutoff=85, limit=100)
    l.append(result)
    emailsdb.insert(i, email)
    
print(l)

In [ ]:
variables = ['A1,A1','A2,B2','A1,C2','B3,B3','C4,C4']#*100000

In [ ]:
%timeit [i for i in variables if len(set(i))>3]

In [ ]:
import numpy as np

In [ ]:
import itertools

In [ ]:
%timeit [i for i in variables if len(set(i.split(',')))>1]

In [ ]:
def find_same_with_seperator(variables, SEPERATOR = ','):
    same_vars = []
    for v in variables:
        # Finding seperator index
        seperator_index = 0
        for i in range(len(v)):
            if SEPERATOR == v[i]:
                break
            seperator_index += 1
        # If no seperator
        if 0 == seperator_index:
            continue
        # Comparing parts
        before_seperator = 0
        after_seperator  = seperator_index + 1
        the_same = True
        while after_seperator < len(v):
            if v[before_seperator] != v[after_seperator]:
                the_same = False
                break
            before_seperator += 1
            after_seperator  += 1
        if the_same:
            same_vars.append(v)
    return same_vars

%timeit find_same_with_seperator(variables)

In [ ]:
%timeit [v for v in variables if v.split(',')[0]!=v.split(',')[1].replace(" ", "")]

In [ ]:
%timeit [a for a in variables if a.split(',')[0]!=a.split(',')[1].replace(" ", "")]

In [ ]:
import re

In [ ]:
df = pd.read_clipboard(sep='|')

In [ ]:
df.columns = [i.strip() for i in list(df.columns)]

In [ ]:
txt = df['InvestmentDesc'][0].strip()
dictRepStrings = {"1st lien": "1l", "first lien": "1l", "2nd lien": "2l", "second lien": "2l", "term loan": "tl"}

In [ ]:
text

In [ ]:
def replace_all(text, dictReplace):
    rep = dict((re.escape(k), v) for k, v in dictReplace.items())
    pattern = re.compile("|".join(rep.keys()))
    text = pattern.sub(lambda m: rep[re.escape(m.group(0))], text) 
    return text

dictRepStrings = {"1st lien": "1l", "first lien": "1l", "2nd lien": "2l", "second lien": "2l", "term loan": "tl"}
df['NewCol'] = df['InvestmentDesc'].apply(replace_all, args=[dictRepStrings]) #modified apply function
df

In [ ]:
dictRepStrings = {"1st lien": "1l", "first lien": "1l", "2nd lien": "2l", "second lien": "2l", "term loan": "tl"}
df['NewCol'] = df['InvestmentDesc'].apply(replace_all, args=[dictRepStrings])
df

In [ ]:
print(df)

In [ ]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import collections
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

%matplotlib inline
#%config InlineBackend.figure_format = 'retina'

iris = load_iris()
plt.rcParams['figure.figsize'] = (10, 8)

#some more code
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.2)

# Some feature values are present in train and absent in test and vice-versa.
#y = df_train['Should_Vacation_there']
#df_train, df_test = intersect_features(train=df_train, test=df_test)
#df_train

#training a decision tree
dt = DecisionTreeClassifier(criterion='entropy', random_state=17)
dt.fit(X_train, y_train)

#displaying the tree
plot_tree(dt, feature_names=iris.feature_names, filled=True,
         class_names=iris.target_names);

In [ ]:
from sklearn.preprocessing import

In [ ]:
df = pd.read_clipboard('\s\s+')

In [ ]:
df['Colour'] = ['red', 'orange', 'Red', 'green']

In [ ]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [ ]:
class MultiColumnOneHotEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = OneHotEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = OneHotEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [ ]:
from sklearn.base import TransformerMixin
import pandas as pd
import numpy as np
class DataFrameEncoder(TransformerMixin):

    def __init__(self):
        """Encode the data.

        Columns of data type object are appended in the list. After 
        appending Each Column of type object are taken dummies and 
        successively removed and two Dataframes are concated again.

        """
    def fit(self, X, y=None):
        self.object_col = []
        for col in X.columns:
            if(X[col].dtype == np.dtype('O')):
                self.object_col.append(col)
        return self

    def transform(self, X, y=None):
        dummy_df = pd.get_dummies(X[self.object_col],drop_first=True)
        X = X.drop(X[self.object_col],axis=1)
        X = pd.concat([dummy_df,X],axis=1)
        return X

In [ ]:
a = DataFrameEncoder()

In [ ]:
a.fit(df)

In [ ]:
a.transform(df)

In [ ]:
df.columns

In [ ]:
df

In [ ]:
y = np.random.randint(0,20,size=(10,))
x = np.arange(0,len(y)) #dummy x
plt.scatter(x,y)

In [ ]:
sqm = [[0, 516, 226, 853, 1008, 1729, 346, 1353, 1554, 827, 226, 853, 1729, 1008],
[548, 0, 474, 1292, 1442, 2170, 373, 1801, 1989, 1068, 474, 1292, 2170, 1442],
[428, 466, 0, 1103, 1175, 1998, 226, 1561, 1715, 947, 0, 1103, 1998, 1175],
[663, 1119, 753, 0, 350, 1063, 901, 681, 814, 1111, 753, 0, 1063, 350],
[906, 1395, 1003, 292, 0, 822, 1058, 479, 600, 1518, 1003, 292, 822, 0],
[1488, 1994, 1591, 905, 776, 0, 1746, 603, 405, 1676, 1591, 905, 0, 776],
[521, 357, 226, 1095, 1167, 1987, 0, 1552, 1705, 1051, 226, 1095, 1987, 1167],
[1092, 1590, 1191, 609, 485, 627, 1353, 0, 422, 1583, 1191, 609, 627, 485],
[1334, 1843, 1436, 734, 609, 396, 1562, 421, 0, 1745, 1436, 734, 396, 609],
[858, 1186, 864, 1042, 1229, 1879, 984, 1525, 1759, 0, 864, 1042, 1879, 1229],
[428, 466, 0, 1103, 1175, 1998, 226, 1561, 1715, 947, 0, 1103, 1998, 1175],
[663, 1119, 753, 0, 350, 1063, 901, 681, 814, 1111, 753, 0, 1063, 350],
[1488, 1994, 1591, 905, 776, 0, 1746, 603, 405, 1676, 1591, 905, 0, 776],
[906, 1395, 1003, 292, 0, 822, 1058, 479, 600, 1518, 1003, 292, 822, 0]]

In [ ]:
idx = [1,5,4] #row/col indexes to remove
idxn = list(range(len(sqm))) - idx
idxn

In [ ]:
np.array(sqm)

In [ ]:
idx = []

In [ ]:
sqm = [[10,11,12,13],
 [14,15,16,17],
 [18,19,20,21],
 [22,23,24,25]]

rem = [1,3] #Rows/columns to remove

idx = list(set(range(len(sqm))).difference(rem))
print('Rows/columns to keep:',idx)
print(' ')
np.array(sqm)[np.ix_(idx,idx)]

In [ ]:
np.ix_(idx,idx)

In [ ]:
sqm = np.random.random((10000,10000))
rem = np.unique(np.random.randint(0,10000,size=500))

In [ ]:
#####################################
def f():
    to_drop = rem
    out = pd.DataFrame(sqm).drop(to_drop).drop(to_drop, axis=1).to_numpy()

%timeit f()

#OUTPUT - 841 ms ± 8.19 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#####################################
def g():
    valid = [r for r in range(sqm.shape[0]) if r not in rem] 
    sqm[valid][:,valid]
    
%timeit g()

#OUTPUT - 1.62 s ± 48.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#####################################
def h():
    idx = list(set(range(sqm.shape[0])).difference(rem))
    sqm[np.ix_(idx,idx)]

%timeit h()

#OUTPUT - 655 ms ± 19.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%timeit np.delete(np.delete(sqm, rem, axis=0), rem, axis=1)

In [ ]:
data.shape[1]

In [ ]:
import numpy as np

def build_model(shape):
    f_input = keras.Input((100,))  # (100,)
    d1 = keras.layers.Dense(50, activation='tanh')(f_input)
    sf = keras.layers.Dense(10, activation='softmax')(d1)
    return keras.Model(f_input, sf)

data = np.random.random((1000, 100))
model = build_model(data.shape)
# model.compile(loss='mse', optimizer='SGD')
# model.fit(x=data, y=data)

In [ ]:
model.summary()

In [ ]:
data[:,1].shape

In [1]:
import numpy as np
import tensorflow.keras as keras
import resource

class MemoryCallback(keras.callbacks.Callback):
    def on_epoch_end(self, epoch, log={}):
        print(resource.getrusage(resource.RUSAGE_SELF).ru_maxrss)

def build_model(shape):
    f_input = keras.layers.Input(shape=(shape[1],))  # (100,)
    d1 = keras.layers.Dense(50, activation='tanh')(f_input)
    d1 = keras.layers.Dense(50, activation='tanh')(d1)
    softmax = keras.layers.Dense(10, activation='softmax')(d1)
    return keras.Model(f_input, softmax)

data = np.random.random((1000, 100))
model = build_model(data.shape)
model.compile(loss='mse', optimizer='SGD')
model.fit(x=data, y=np.random.random((1000,)), verbose=0, epochs=10, callbacks=[MemoryCallback()])

312844288
312897536
312909824
312918016
312918016
312926208
312930304
312934400
312938496
312950784

In [ ]:
3401363456

In [ ]:
import resource

In [ ]:
model.history.history

In [ ]:
import tensorflow as tf
import keras as K


class MemoryCallback(K.callbacks.Callback):
    def on_epoch_end(self, epoch, log={}):
        print(resource.getrusage(resource.RUSAGE_SELF).ru_maxrss)


def Rateme(self,loss,classnum,patience,epochs,DWIshape,Mapshape,lr,TRAINDATA,TESTDATA,TrueTrain, TrueTest,ModelBuilder,maxthreads):

K.backend.set_session(K.backend.tf.Session(config=K.backend.tf.ConfigProto(intra_op_parallelism_threads=maxthreads, inter_op_parallelism_threads=maxthreads)))

#Early Stopping
STOP=K.callbacks.EarlyStopping(monitor='val_acc', min_delta=0.001,
                               patience=patience, verbose=0, mode='max')
#Build model
Model=ModelBuilder(DWIshape, Mapshape, dropout=self.Dropout,
                      regularization=self.Regularization,
                      activ='relu', DWIconv=self.nDWI, DWIsize=self.sDWI,
                      classes=classnum, layers=self.nCNN,
                      filtersize=self.sCNN,
                      FClayers=self.FCL, last=self.Last)
#Compile
Model.compile(optimizer=K.optimizers.Adam(lr,decay=self.Decay), loss=loss, metrics=['accuracy'])
#Fit
his=Model.fit(x=TRAINDATA,y=TrueTrain,epochs=epochs,batch_size=5, shuffle=True, validation_data=(TESTDATA,TrueTest), verbose=0, callbacks=[STOP, MemoryCallback()]) #check verbose and callbacks
#Extract 
S=Model.evaluate(x=TESTDATA, y=TrueTest,verbose=1)[1]
del his
del Model
del rateme
K.backend.clear_session()
tf.reset_default_graph()
gc.collect()

return S

In [ ]:
import time

In [ ]:
# a non CPU-bound task
time.sleep(3)
print(resource.getrusage(resource.RUSAGE_SELF))

# a CPU-bound task
for i in range(10 ** 8):
   _ = 1 + 1
print(resource.getrusage(resource.RUSAGE_SELF))

In [7]:
df = pd.read_clipboard()

In [100]:
import pandas as pd
import numpy as np

#!pip install python-Levenshtein
from Levenshtein import distance
from fuzzywuzzy import fuzz, process

#CHECKING COMMUTATIVE PROPERTY
distance('abcd','bdca') == distance('bdca', 'abcd')
###OUTPUT - TRUE

fuzz.ratio('abcd','bdca') == fuzz.ratio('bdca', 'abcd')
###OUTPUT - FALSE


#Create dummy matrix
m = np.zeros((len(emailsdb),len(emailsdb)))

#Get lower triangular matrix indices
i,j = np.tril_indices(len(emailsdb))

#iterate over lower triangular and get Levenshtein distance for lower triangular
for k in zip(i,j):
    if k[0]!=k[1]:
        m[k] = distance(emailsdb[k[0]], emailsdb[k[1]])
    else:
        m[k] = 0

#Copy lower triangular to upper traingular thanks to COMMUTATIVE PROPERTY
m = m + m.T

#Filling diagonal with 999 so that same string doesnt show up with minimum distance
np.fill_diagonal(m, 999)
print("distance matrix = ")
print(m)

#Get best matches with minimum distance
matches = list(zip([i for i in emailsdb], [emailsdb[i] for i in np.argmin(m, axis=0)]))

print("Best matches = ")
print(matches)


#OPTIONAL -> Filtering out irrelavant matches based on fuzzy match
f = [(*i,fuzz.ratio(*i)) for i in matches if fuzz.ratio(*i)>50]

print("final matching strings - ")
print(f)

distance matrix =
[[999.   5.   8.   8.   4.]
 [  5. 999.   8.   9.   4.]
 [  8.   8. 999.   6.   8.]
 [  8.   9.   6. 999.   9.]
 [  4.   4.   8.   9. 999.]]
Best matches =
[('tim', 'timrook'), ('tim.rand', 'timrook'), ('rand.001', 'pankit090'), ('pankit090', 'rand.001'), ('timrook', 'tim')]
final matching strings -
[('tim', 'timrook', 60), ('tim.rand', 'timrook', 53), ('timrook', 'tim', 60)]

In [112]:
dd = pd.DataFrame([
    {'a': 1, 'b': 2},
    {'a': 2, 'b': 4},
    {'a': 4, 'b': 3},
])

dd[dd.a == 1] = pd.DataFrame([{'a': 100}])#, 'b': 200}]) # Assigning value works.

In [113]:
dd

     a    b
0  100  100
1    2    4
2    4    3

In [181]:
dd = pd.DataFrame([
    {'a': 1, 'b': 2},
    {'a': 2, 'b': 4},
    {'a': 4, 'b': 3},
])

#dd[dd.a == 1].a = 1000 # Assigning value doesn't work.

In [183]:
print(dd)

   a  b
0  1  2
1  2  4
2  4  3

In [140]:
dd[dd.a == 1] = 1000

In [143]:
dd[dd.a == 1].a #= 1000

0    1
Name: a, dtype: int64

In [145]:
dd.loc[dd.a == 1] = 100

In [153]:
x = dd[dd.a == 1].a

In [154]:
x = 100

In [155]:
x

100

In [180]:
print(dd)

     a  b
0  100  2
1    2  4
2    4  3

In [265]:
files = ['Upside Your Head.txt', 
         'The Mighty Quinn - [Remastered].txt', 
         'The Mighty Quinn - (live).txt', 
         'Fixin To Die (Mono version).txt', 
         '10,000 Men - [Remastered].txt', 
         '10,000 Men.txt', 
         '10.000 Men - (live).txt']

rem = ['(live)','[Remastered]','(Mono']

#[i for j in rem for i in files if j in i]

In [229]:
set([i for j in rem for i in files if j not in i])

{'10,000 Men - [Remastered].txt',
 '10,000 Men.txt',
 '10.000 Men - (live).txt',
 'Fixin To Die (Mono version).txt',
 'The Mighty Quinn - (live).txt',
 'The Mighty Quinn - [Remastered].txt',
 'Upside Your Head.txt'}

In [242]:
[i for i in files]

['Upside Your Head.txt',
 'The Mighty Quinn - [Remastered].txt',
 'The Mighty Quinn - (live).txt',
 'Fixin To Die (Mono version).txt',
 '10,000 Men - [Remastered].txt',
 '10,000 Men.txt',
 '10.000 Men - (live).txt']

In [275]:
[j for j in files if all([i not in j for i in rem])]

['Upside Your Head.txt', '10,000 Men.txt']

In [278]:
import itertools

In [304]:
import re

In [310]:
re.match(rem[0],files[1])

In [303]:
prods = list(itertools.product(files, rem))
[any(prods[i:i+3] for i in range(0,len(prods),3)]

[[('Upside Your Head.txt', '(live)'),
  ('Upside Your Head.txt', '[Remastered]'),
  ('Upside Your Head.txt', '(Mono')],
 [('The Mighty Quinn - [Remastered].txt', '(live)'),
  ('The Mighty Quinn - [Remastered].txt', '[Remastered]'),
  ('The Mighty Quinn - [Remastered].txt', '(Mono')],
 [('The Mighty Quinn - (live).txt', '(live)'),
  ('The Mighty Quinn - (live).txt', '[Remastered]'),
  ('The Mighty Quinn - (live).txt', '(Mono')],
 [('Fixin To Die (Mono version).txt', '(live)'),
  ('Fixin To Die (Mono version).txt', '[Remastered]'),
  ('Fixin To Die (Mono version).txt', '(Mono')],
 [('10,000 Men - [Remastered].txt', '(live)'),
  ('10,000 Men - [Remastered].txt', '[Remastered]'),
  ('10,000 Men - [Remastered].txt', '(Mono')],
 [('10,000 Men.txt', '(live)'),
  ('10,000 Men.txt', '[Remastered]'),
  ('10,000 Men.txt', '(Mono')],
 [('10.000 Men - (live).txt', '(live)'),
  ('10.000 Men - (live).txt', '[Remastered]'),
  ('10.000 Men - (live).txt', '(Mono')]]

In [292]:
[i[1] not in i[0] for i in itertools.product(files, rem)]

[True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True]

In [312]:
files = ['Upside Your Head.txt', 
         'The Mighty Quinn - [Remastered].txt', 
         'The Mighty Quinn - (live).txt', 
         'Fixin To Die (Mono version).txt', 
         '10,000 Men - [Remastered].txt', 
         '10,000 Men.txt', 
         '10.000 Men - (live).txt']

rem = ['(live)','[Remastered]','(Mono']

[f for f in files if all(r not in f for r in rem)]

['Upside Your Head.txt', '10,000 Men.txt']

In [314]:
[f for f in files if not any(r in f for r in rem)]

['Upside Your Head.txt', '10,000 Men.txt']

In [319]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#dummy data and subset
full = ['info about the terminator', 'This is some info about the news', 'This is some info about Superman']
subset = ['This is info about the terminator', 'This is some info about Superman']

#fit count vectorizer
count = CountVectorizer()
count.fit(full)

#transform the full and subset
count_matrix = count.transform(full)
count_matrix_subset = count.transform(subset)

print('count_matrix: ',count_matrix.shape)
print('count_matrix_subset: ',count_matrix_subset.shape)

#Consine similarty on the common dimension
cs = cosine_similarity(count_matrix, count_matrix_subset)
print('Cosine similarity matrix',cs.shape)

count_matrix:  (3, 9)
count_matrix_subset:  (2, 9)
Cosine similarity matrix (3, 2)

In [320]:
cs

array([[0.81649658, 0.40824829],
       [0.77151675, 0.77151675],
       [0.66666667, 1.        ]])

In [ ]:
python3 -mpdb -cc script.py # run the program without you having to enter an initial "c" at the prompt
python3 -mpdb -c "b 8" -cc script.py # sets a breakpoint on line 8 and runs the program

In [335]:
S="'abc','dsd''eeee'"

[i[0] for i in enumerate(S) if i[1] == "'"]
[0, 4, 6, 10, 11, 16]

[0, 4, 6, 10, 11, 16]

In [333]:
for idx, i in enumerate(S):
    if i == "'":
        print(idx)

0
4
6
10
11
16

In [391]:
r = [[1,3], [5,7], [9,11]]
s = [[2,4], [5,6], [7,9], [11,14]]

r = [[i[0],i[1]+1] for i in r]
s = [[i[0],i[1]+1] for i in s]

overlapping_ranges = [set(range(*i[0])).intersection(set(range(*i[1]))) for i in list(itertools.product(r, s))]
overlapping_ranges = [i for i in overlapping_ranges if i] #removing nullsets

#product of list method 
#3**4 = 81

#combinations of combined list method
#(3+4)**2 = 49

In [392]:
overlapping_ranges

[{2, 3}, {5, 6}, {7}, {9}, {11}]

In [384]:
len(list(itertools.product(r, s)))

12

In [385]:
list(itertools.product(r, s))

[([1, 3], [2, 4]),
 ([1, 3], [5, 6]),
 ([1, 3], [7, 9]),
 ([1, 3], [11, 14]),
 ([5, 7], [2, 4]),
 ([5, 7], [5, 6]),
 ([5, 7], [7, 9]),
 ([5, 7], [11, 14]),
 ([9, 11], [2, 4]),
 ([9, 11], [5, 6]),
 ([9, 11], [7, 9]),
 ([9, 11], [11, 14])]

In [386]:
list(itertools.combinations(new, 2))

[([1, 4], [5, 8]),
 ([1, 4], [9, 12]),
 ([1, 4], [2, 5]),
 ([1, 4], [5, 7]),
 ([1, 4], [7, 10]),
 ([1, 4], [11, 15]),
 ([5, 8], [9, 12]),
 ([5, 8], [2, 5]),
 ([5, 8], [5, 7]),
 ([5, 8], [7, 10]),
 ([5, 8], [11, 15]),
 ([9, 12], [2, 5]),
 ([9, 12], [5, 7]),
 ([9, 12], [7, 10]),
 ([9, 12], [11, 15]),
 ([2, 5], [5, 7]),
 ([2, 5], [7, 10]),
 ([2, 5], [11, 15]),
 ([5, 7], [7, 10]),
 ([5, 7], [11, 15]),
 ([7, 10], [11, 15])]

81

49

In [359]:
overlapping_ranges

[([1, 4], [2, 5]),
 ([5, 8], [5, 7]),
 ([5, 8], [7, 10]),
 ([9, 12], [7, 10]),
 ([9, 12], [11, 15])]

In [339]:
import itertools
r = [[1,5], [3,7], [9,11], [6,8]]

overlapping_ranges = [i for i in list(itertools.combinations(r, 2))\
                      if set(range(*i[0])).intersection(set(range(*i[1])))]

print('Count of overlapping ranges:',len(overlapping_ranges))
print(overlapping_ranges)

Count of overlapping ranges: 2
[([1, 5], [3, 7]), ([3, 7], [6, 8])]

In [343]:
list(itertools.combinations(r, 2))

[([1, 5], [3, 7]),
 ([1, 5], [9, 11]),
 ([1, 5], [6, 8]),
 ([3, 7], [9, 11]),
 ([3, 7], [6, 8]),
 ([9, 11], [6, 8])]

In [ ]:
i for i in itertools.combinations(r, s)

In [338]:
range(*r[0])

range(1, 3)

In [ ]:
set(range(*i[0])).intersection(set(range(*i[1]))

In [447]:
df = pd.read_clipboard('\s\s+')

In [546]:
data = pd.DataFrame({'remark': {0: 'Banana', 1: 'Apple', 2: None, 3: 'Kiwi'},
 'Rule1': {0: False, 1: True, 2: False, 3: True},
 'Rule2': {0: False, 1: False, 2: True, 3: True}})

In [543]:
data

   remark  Rule1  Rule2
0  Banana  False  False
1   Apple   True  False
2    None  False   True
3    Kiwi   True   True

In [552]:
data.apply(lambda x:','.join(x), axis=1)

0    [Banana, False, False]
1      [Apple, True, False]
2       [None, False, True]
3        [Kiwi, True, True]
dtype: object

In [555]:
data.loc[(data['Rule1']==True),"remark"]

1    Apple
3     Kiwi
Name: remark, dtype: object

In [492]:
data.loc[(data['Rule1']==True) & (data['remark'].notna()),"remark"] += ', Red'
data.loc[(data['Rule2']==True) & (data['remark'].notna()),"remark"] += ', Yellow'

In [493]:
data

              remark  Rule1  Rule2
0             Banana  False  False
1         Apple, Red   True  False
2               None  False   True
3  Kiwi, Red, Yellow   True   True

In [511]:
data.loc[(data['Rule2']==True),"remark"]

2    None
3    Kiwi
Name: remark, dtype: object

In [500]:
data

   remark  Rule1  Rule2
0  Banana  False  False
1   Apple   True  False
2    None  False   True
3    Kiwi   True   True

In [516]:
data.loc[data['Rule1']==True,"remark"].apply(lambda x: [x].append('Red')

1    None
3    None
Name: remark, dtype: object

In [ ]:
df.remark = df.remark + ',' +

In [443]:
data.loc[data['Rule1']==True,"remark"] = data.loc[data['Rule1']==True,"remark"] + ", Red"
data.loc[data['Rule2']==True,"remark"] = data.loc[data['Rule2']==True,"remark"] + ", Yellow"

In [445]:
print(df)

              remark  Rule1  Rule2
0             Banana  False  False
1         Apple, Red   True  False
2     Orange, Yellow  False   True
3  Kiwi, Red, Yellow   True   True