In [2]:
import pandas as pd
import numpy as np

In [3]:
def ciphertextFor(text, key):
    cpt = []
    for i in range(len(text)):
        cpt.append(chr((ord(text[i])+ord(key[i])) % 26+65))
    return ''.join(cpt)

In [5]:
ciphertextFor('ajshwhsuhe','amchaksheo')

'MHGAIDWNXE'

In [9]:
''.join([chr((ord(text[i])+ord(key[i])) % 26+65) for i in range(len(text))])

'MHGAIDWNXE'

In [24]:
length = 5
a = {'this':1, 'is':2, 'an':3, 'example':4}

out = pd.DataFrame({0:[a] * 5})
print(out)

                                             0
0  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
1  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
2  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
3  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
4  {'this': 1, 'is': 2, 'an': 3, 'example': 4}

                                             0
0  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
1  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
2  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
3  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
4  {'this': 1, 'is': 2, 'an': 3, 'example': 4}

                                             0
0  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
1  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
2  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
3  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
4  {'this': 1, 'is': 2, 'an': 3, 'example': 4}

In [106]:
text, key = 'ajshwhsuhe','amchaksheo'

In [107]:
%timeit ''.join(chr((ord(text[i])+ord(key[i])) % 26+65) for i in range(len(text)))

3.47 µs ± 60 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [108]:
%timeit ''.join(chr((ord(x)+ord(y)) % 26+65) for x,y in zip(text, key))

3.17 µs ± 27.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [109]:
def c(a,b):
    return chr((ord(a)+ord(b)) % 26+65)

cv = np.vectorize(c)

%timeit ''.join(cv(list(text), list(key)))

28.5 µs ± 118 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [114]:
df

            Location       ID
0                 DS  12973.0
1                 DS  12955.0
2                 DS  12947.0
3           St. paul  12949.0
4  Bakersfield 12097      NaN
5             Vernon  12905.0
6             vernon  12096.0
7             vernon  12902.0

In [122]:
df = pd.read_clipboard('\s\s+')

In [121]:
Location   ID
DS         12973
DS         12955
DS         12947
St. paul   12949
Bakersfield  12097
Vernon     12905
vernon     12096
vernon     12902

            Location       ID
0                 DS  12973.0
1                 DS  12955.0
2                 DS  12947.0
3           St. paul  12949.0
4  Bakersfield 12097      NaN
5             Vernon  12905.0
6             vernon  12096.0
7             vernon  12902.0

In [123]:
df

      Location     ID
0           DS  12973
1           DS  12955
2           DS  12947
3     St. paul  12949
4  Bakersfield  12097
5       Vernon  12905
6       vernon  12096
7       vernon  12902

In [129]:
df['Location'] = df['Location'].apply(str.lower)

df.groupby('Location')['ID'].apply(list).to_dict()

{'bakersfield': [12097],
 'ds': [12973, 12955, 12947],
 'st. paul': [12949],
 'vernon': [12905, 12096, 12902]}

{'bakersfield': [12097],
 'ds': [12973, 12955, 12947],
 'st. paul': [12949],
 'vernon': [12905, 12096, 12902]}

In [139]:
[sum(inputArray[i:i+k]) for i in range(len(inputArray)-1)]

[5, 8, 6, 7]

In [175]:
inputArray = [2, 3, 5, 1, 6]
k = 3

In [170]:
inputArray = np.random.randint(0,100,1000)
k = 30

In [174]:
def arrayMaxConsecutiveSum(inputArray, k):
    #begin = 0 #<--- #No need since you are setting it to i in loop
    #end = begin + k #<--- Not to be defined here but inside loop
    sum_list = []
    
    for i in range(0, len(inputArray)-1): #<----
        begin = i
        end = begin + k #<--- 
        sum_list.append(sum(inputArray[begin:end])) #<----
    return sum_list

arrayMaxConsecutiveSum(inputArray, k)

[5, 8, 6, 7]

In [184]:
#OPs approach
%timeit arrayMaxConsecutiveSum(inputArray, k)

1.49 µs ± 55.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [185]:
%timeit [sum(inputArray[i:i+k]) for i in range(len(inputArray)-1)]

1.39 µs ± 65.4 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [183]:
%timeit [sum(i) for i in zip(*[inputArray[i:] for i in range(k)])]

1.46 µs ± 65.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [201]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]).reshape(2,2,4)
np.max(arr.reshape(2,-1),-1)

array([ 8, 16])

In [205]:
arr[:,:,-1]

array([[ 4,  8],
       [12, 16]])

In [206]:
A = np.array([[2,3],[5,4]])
B = 4

In [209]:
res = []
for i in range(A.shape[0]):
    for j in range(A.shape[1]):
        if(A[i][j] == 2):
            res += B == 0

TypeError: 'bool' object is not iterable

In [230]:
import seaborn as sns
from sklearn.model_selection import train_test_split

df = sns.load_dataset('titanic')

cols = ['pclass','sex','age']
df = df[cols]

train, test = train_test_split(df,test_size=0.1)
[i.shape for i in [train,test]]

[(801, 3), (90, 3)]

In [247]:
means = train.groupby(['pclass','sex'])['age'].mean()

In [248]:
means

pclass  sex
1       female    34.848101
        male      41.649111
2       female    29.007576
        male      31.129556
3       female    21.335227
        male      26.675739
Name: age, dtype: float64

In [249]:
df.mean()

pclass     2.308642
age       29.699118
dtype: float64