In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_clipboard('\s\s+')

In [12]:
df

             days
temperature
21.0            1
22.0            2
23.0            3
24.0            4
25.0            5
26.0            6
27.0            5
28.0            4
29.0            3
30.0            2

In [13]:
df.index.repeat(df.days)

Float64Index([21.0, 22.0, 22.0, 23.0, 23.0, 23.0, 24.0, 24.0, 24.0, 24.0, 25.0,
              25.0, 25.0, 25.0, 25.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 27.0,
              27.0, 27.0, 27.0, 27.0, 28.0, 28.0, 28.0, 28.0, 29.0, 29.0, 29.0,
              30.0, 30.0],
             dtype='float64', name='temperature')

In [17]:
df.index.repeat(df.days)

Float64Index([21.0, 22.0, 22.0, 23.0, 23.0, 23.0, 24.0, 24.0, 24.0, 24.0, 25.0,
              25.0, 25.0, 25.0, 25.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 27.0,
              27.0, 27.0, 27.0, 27.0, 28.0, 28.0, 28.0, 28.0, 29.0, 29.0, 29.0,
              30.0, 30.0],
             dtype='float64', name='temperature')

In [21]:
import scipy.stats

In [ ]:
scipy.stats.skew()

In [22]:
df = pd.read_clipboard('\s\s+')

In [37]:
df[df.index.duplicated()].dropna()

   a  b
1  z  z
2  z  z

In [3]:
import itertools

In [38]:
data = {'price':[40, 15, 10, 2],
    'items': ["{'product': 'Product1', 'quantity': 4, 'product': 'Product2', 'quantity': 1}", "{'product': 'Product2', 'quantity': 1, 'product': 'Product3', 'quantity': 1,'product': 'Product1', 'quantity': 1}", "{'product': 'Product1', 'quantity': 4}", "{'product': 'Product3', 'quantity': 1, 'product': 'Product1', 'quantity': 1}"]
    }
df = pd.DataFrame (data, columns = ['price', 'items'])

In [62]:
import re

In [22]:
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers, models

In [54]:
inp = layers.Input((10,))
emb = layers.Embedding(100, 15, input_length=10)(inp)
#lstm = layers.Bidirectional(layers.LSTM(6, return_sequences=True))(emb)
lstm2 = layers.Bidirectional(layers.LSTM(6))(emb)
x = layers.Dense(8, activation='relu')(lstm2)
x = layers.Dense(8, activation='relu')(x)
out = layers.Dense(3, activation='softmax')(x)

model = models.Model(inp, out)
model.summary()

Model: "functional_63"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_12 (InputLayer)        [(None, 10)]              0
_________________________________________________________________
embedding_9 (Embedding)      (None, 10, 15)            1500
_________________________________________________________________
bidirectional_4 (Bidirection (None, 12)                1056
_________________________________________________________________
dense_30 (Dense)             (None, 8)                 104
_________________________________________________________________
dense_31 (Dense)             (None, 8)                 72
_________________________________________________________________
dense_32 (Dense)             (None, 3)                 27
=================================================================
Total params: 2,759
Trainable params: 2,759
Non-trainable params: 0
_________________________________________________________________

In [56]:
model = models.Model(inp, emb)
i = np.random.random((3,10))
model.predict(i).shape

WARNING:tensorflow:11 out of the last 11 calls to <function Model.make_predict_function.<locals>.predict_function at 0x1374ebb80> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

(3, 10, 15)