In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_clipboard('\s\s+')

In [12]:
df

             days
temperature
21.0            1
22.0            2
23.0            3
24.0            4
25.0            5
26.0            6
27.0            5
28.0            4
29.0            3
30.0            2

In [13]:
df.index.repeat(df.days)

Float64Index([21.0, 22.0, 22.0, 23.0, 23.0, 23.0, 24.0, 24.0, 24.0, 24.0, 25.0,
              25.0, 25.0, 25.0, 25.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 27.0,
              27.0, 27.0, 27.0, 27.0, 28.0, 28.0, 28.0, 28.0, 29.0, 29.0, 29.0,
              30.0, 30.0],
             dtype='float64', name='temperature')

In [17]:
df.index.repeat(df.days)

Float64Index([21.0, 22.0, 22.0, 23.0, 23.0, 23.0, 24.0, 24.0, 24.0, 24.0, 25.0,
              25.0, 25.0, 25.0, 25.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 27.0,
              27.0, 27.0, 27.0, 27.0, 28.0, 28.0, 28.0, 28.0, 29.0, 29.0, 29.0,
              30.0, 30.0],
             dtype='float64', name='temperature')

In [21]:
import scipy.stats

In [ ]:
scipy.stats.skew()

In [22]:
df = pd.read_clipboard('\s\s+')

In [37]:
df[df.index.duplicated()].dropna()

   a  b
1  z  z
2  z  z

In [34]:
import itertools

In [38]:
data = {'price':[40, 15, 10, 2],
    'items': ["{'product': 'Product1', 'quantity': 4, 'product': 'Product2', 'quantity': 1}", "{'product': 'Product2', 'quantity': 1, 'product': 'Product3', 'quantity': 1,'product': 'Product1', 'quantity': 1}", "{'product': 'Product1', 'quantity': 4}", "{'product': 'Product3', 'quantity': 1, 'product': 'Product1', 'quantity': 1}"]
    }
df = pd.DataFrame (data, columns = ['price', 'items'])

In [62]:
import re

SyntaxError: invalid syntax (<ipython-input-72-b2cb5ccb8845>, line 1)