# Iterating multiple columns of a df, row wise

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'a':[1,2,3,4], 'b':[11,12,13,14]})

In [7]:
df

   a   b
0  1  11
1  2  12
2  3  13
3  4  14

In [3]:
def f(x):
    return x**2

In [6]:
pd.DataFrame([[f(i) for i in tuple(v)] for k,v in df.iterrows()], columns=df.columns)

    a    b
0   1  121
1   4  144
2   9  169
3  16  196