In [1]:
import pandas as pd
import numpy as np
import os
import itertools
from sklearn.datasets import make_regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
x, y = make_regression(n_samples=100, n_features=1, noise=25)
new_x, new_y = zip(*sorted(zip(x, y)))
plt.scatter(new_x, new_y, color='g')

In [ ]:
#Plot regression line

def plot_regression(x, y, pred):
    plt.scatter(x, y, color='g')
    plt.plot(x, pred, color = 'k')
    plt.show()

In [ ]:
#Generating polynomial features
poly = PolynomialFeatures(degree=3)
x_poly = poly.fit_transform(new_x)

In [ ]:
x_poly.shape

### Ordinary Least squared

In [ ]:
#Fit a regression model
reg = linear_model.LinearRegression()
reg.fit(x_poly, new_y)
pred = reg.predict(x_poly)

#Plot model
plot_regression(new_x, new_y, pred)

### Ridge Regression

In [ ]:
#Fit a regression model
reg = linear_model.Ridge(alpha=1)
reg.fit(x_poly, new_y)
pred = reg.predict(x_poly)

#Plot model
plot_regression(new_x, new_y, pred)

### Lasso Regression

In [ ]:
#Fit a regression model
reg = linear_model.Lasso(alpha=1)
reg.fit(x_poly, new_y)
pred = reg.predict(x_poly)

#Plot model
plot_regression(new_x, new_y, pred)

### ElasticNet Regression

In [ ]:
#Fit a regression model
reg = linear_model.ElasticNet(alpha=1)
reg.fit(x_poly, new_y)
pred = reg.predict(x_poly)

#Plot model
plot_regression(new_x, new_y, pred)

In [ ]:
nums = list(range(2, 11))
count = 0
for num in nums:
    nums = list(filter(lambda a: a == num or a % num, nums))
    count += 1
print(count)  # 9
print(nums)

In [ ]:
nums

In [ ]:
nums = list(filter(lambda a: a == num or a % num, nums))

In [ ]:
nums

In [ ]:
nums

In [ ]:
num = 7

In [ ]:
nums = list(filter(lambda a: a == num or a % num, nums))
nums

In [ ]:
def f(num, nums):
    return list(filter(lambda a: a == num or a % num, nums))

def g(nums):
    nums = f(nums[i], nums)
    return nums

In [ ]:
f(4, nums)

In [ ]:
nums = list(range(2, 11))

In [ ]:
nums = list(range(2, 11))

def f(num, nums):
    return list(filter(lambda a: a == num or a % num, nums))

count = 0
for i in range(len(nums)):
    if i < len(nums):
        nums = f(nums[i], nums)
        count+=1
print(nums)
print(count)

In [ ]:
class prime():
    def __init__(self, nums):
        self.nums = nums
        self.len = len(nums)
        self.i = 1
        
    def filterprimes(self):
        for i in range(self.len):
            self.i = i
            self.nums = f(self.nums[i], self.nums)
            self.len = len(self.nums)
            print('iteration: ',i)
            print(self.nums)
            print(self.len)

In [ ]:
a = prime(nums)

In [ ]:
a.__dict__

In [ ]:
a.filterprimes()

In [ ]:
x = np.array([[2, 1, 1, 2],
              [0, 2, 1, 0],
              [1, 0, 1, 1],
              [2, 2, 1, 0]])

In [ ]:
ref = np.array([0, 1, 1, 0])

In [ ]:
np.multiply(x.T,ref).T

In [ ]:
data = {'details': [['brand : honda', 'car : city', 'colour : black'],['brand : toyota', 'car : innova'],
                    ['brand : honda', 'colour : red'], ['brand : toyota', 'car : corolla', 'colour : white', 'type : sedan']]}
df = pd.DataFrame(data,columns= ['details'])
df

In [ ]:
data = {'details': [['brand : honda', 'car : city', 'colour : black'],['brand : toyota', 'car : innova'],
                    ['brand : honda', 'colour : red'], ['brand : toyota', 'car : corolla', 'colour : white', 'type : sedan']],
        'brand': ['honda', 'toyota', 'honda', 'toyota'],
        'car': ['city','innova','','corolla'],
        'colour': ['black','','red','white'],
        'type': ['','','','sedan']
        }
df2 = pd.DataFrame(data,columns= ['details', 'brand', 'car', 'colour', 'type'])
df2

In [ ]:
dicts

In [ ]:
zip(dicts)

In [ ]:
df = pd.DataFrame(columns=['brand', 'car', 'colour', 'type'])

In [ ]:
dicts

In [ ]:
dicts

In [ ]:
for i in dicts:
    df.append(i, ignore_index=True)

In [ ]:
df

In [ ]:
data

In [ ]:
dicts

In [6]:
data = {'details': [['brand : honda', 'car : city', 'colour : black'],['brand : toyota', 'car : innova'],
                    ['brand : honda', 'colour : red'], ['brand : toyota', 'car : corolla', 'colour : white', 'type : sedan']]}

#takes a string and makes it into a dict based in ':'
def fix(l):
    return dict(s.split(':') for s in l)

#flatten and fix the lists of lists to get a list dicts
dicts = [fix(i) for sublist in data.values() for i in sublist]

#Add the lists into a single dataframe (optional add the 'Details' column)
df = pd.DataFrame.from_dict(dicts)
df['details'] = pd.DataFrame.from_dict(data)
df

,brand,car,colour,type,details
0,honda,city,black,NaN,"[brand : honda, car : city, colour : black]"
1,toyota,innova,NaN,NaN,"[brand : toyota, car : innova]"
2,honda,NaN,red,NaN,"[brand : honda, colour : red]"
3,toyota,corolla,white,sedan,"[brand : toyota, car : corolla, colour : white..."

In [5]:
print(df)

    brand       car  colour    type   \
0    honda      city   black     NaN
1   toyota    innova     NaN     NaN
2    honda       NaN     red     NaN
3   toyota   corolla   white   sedan

                                             details
0        [brand : honda, car : city, colour : black]
1                     [brand : toyota, car : innova]
2                      [brand : honda, colour : red]
3  [brand : toyota, car : corolla, colour : white...

In [17]:
goldLabels = np.array([12, 2, 0, 0, 0, 1, 5])
predictions = np.array([12, 3, 0, 2, -1, -1, -1])

In [18]:
predictions!=-1

array([ True,  True,  True,  True, False, False, False])

In [19]:
class Employee():
    '''the employee superclass'''
    def __init__(self, name, age, occupation, monthly_pay):
        self.isemployee = True
        self.name       = name
        self.age        = age
        self.occ        = occupation
        self.pay        = monthly_pay

class Salesman(Employee):
    '''the Salesman subclass'''
    def __init__(self):
        self.issalesman = True

In [20]:
t = ('Eric', 19, 'Salesman', 1700)

In [23]:
str(t[2])+str(t)

"Salesman('Eric', 19, 'Salesman', 1700)"

In [36]:
t

('Eric', 19, 'Salesman', 1700)

In [38]:
eric = Employee('Eric', 19, 'Salesman', 1700)
eric

In [39]:
if eric.occ == 'Salesman':
    eric = Salesman(eric)

TypeError: __init__() takes 1 positional argument but 2 were given

In [33]:
eric

In [22]:
eval(str(t[2])+str(t))

TypeError: __init__() takes 1 positional argument but 5 were given