In [67]:
import os
import pandas as pd
import numpy as np

In [10]:
os.path.realpath('..')

'/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects'

In [13]:
path = '/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects Non Git/Wikisql/WikiSQL/data'

In [22]:
tables_path = os.path.join(path, 'dev.tables.jsonl')
meta_path = os.path.join(path, 'dev.jsonl')

In [213]:
tables = pd.read_json(tables_path, lines=True)
meta = pd.read_json(meta_path, lines=True)

In [214]:
##### FUNCTIONS ######

def get_small_table(table_id):
    details = tables[tables['id']==table_id]
    rows = details['rows'].iloc[0]
    labels = details['header'].iloc[0]
    df = pd.DataFrame(rows, columns=labels)
    return df

In [215]:
tables[tables['id']==table_id]

,caption,header,id,name,page_id,page_title,rows,section_title,types
2058,T,"[Player, Nationality, Jersey Number(s), Positi...",2-16772687-19,NaN,16772687.0,Seattle SuperSonics all-time roster,"[[Kurt Thomas Category:Articles with hCards, U...",T,"[text, text, real, text, text, text]"

In [216]:
#Get a table id at random
table_id = np.random.choice(meta['table_id'])
table_id

'1-19283806-4'

In [217]:
#Get corresponding dataset
small_df = get_table(table_id)
small_df.head()

,District,Location,Representative,Cook PVI,2012 election results,Median household income (2011)
0,2nd,Marin County and the North Coast,Jared Huffman,D+20,69.0%–27.0% Obama,"$56,576"
1,3rd,"Fairfield , Vacaville , and the Sacramento Valley",John Garamendi,D+3,54.3%–43.1% Obama,"$53,602"
2,5th,"Santa Rosa , Napa County , Vallejo , and Martinez",Mike Thompson,D+19,69.7%–27.4% Obama,"$58,942"
3,9th,Antioch and most of San Joaquin County,Jerry McNerney,D+6,57.8%–40.1% Obama,"$52,209"
4,11th,Most of Contra Costa County,George Miller,D+17,67.5%–29.9% Obama,"$69,586"

In [ ]:
###########################

In [189]:
#List of all table ids
#all_table_ids = list(meta['table_id'])

In [218]:
def build_meta(df):
    dd = small_df.to_dict()
    return [(k,k1,v1) for k,v in dd.items() for k1,v1 in v.items()]

In [219]:
small_meta = build_meta(df)

In [ ]:
##############################

In [220]:
training_data = small_df.transpose().reset_index()
training_data

,index,0,1,2,3,4,5,6,7,8,9,10,11
0,District,2nd,3rd,5th,9th,11th,12th,13th,14th,15th,17th,18th,19th
1,Location,Marin County and the North Coast,"Fairfield , Vacaville , and the Sacramento Valley","Santa Rosa , Napa County , Vallejo , and Martinez",Antioch and most of San Joaquin County,Most of Contra Costa County,Most of San Francisco,"Berkeley , Oakland , and San Leandro",Most of San Mateo County,"Hayward , Union City , and the Tri-Valley",Fremont and northern Silicon Valley,Menlo Park and western Silicon Valley,San Jose and Morgan Hill
2,Representative,Jared Huffman,John Garamendi,Mike Thompson,Jerry McNerney,George Miller,Nancy Pelosi,Barbara Lee,Jackie Speier,Eric Swalwell,Mike Honda,Anna Eshoo,Zoe Lofgren
3,Cook PVI,D+20,D+3,D+19,D+6,D+17,D+34,D+37,D+23,D+16,D+20,D+18,D+19
4,2012 election results,69.0%–27.0% Obama,54.3%–43.1% Obama,69.7%–27.4% Obama,57.8%–40.1% Obama,67.5%–29.9% Obama,84.0%–12.5% Obama,87.5%–9.0% Obama,74.2%–23.6% Obama,68.0%–29.8% Obama,71.9%–25.5% Obama,68.2%–28.9% Obama,71.2%–26.5% Obama
5,Median household income (2011),"$56,576","$53,602","$58,942","$52,209","$69,586","$69,046","$56,906","$79,287","$82,179","$92,030","$97,001","$71,479"

In [221]:
#############################

In [222]:
def get_small_cols(df):
    dd = small_df.to_dict()
    return [[k]+list(v.values()) for k, v in dd.items()]

In [ ]:
def get_character_features(col):

In [211]:
import markovify

In [223]:
get_small_cols(small_df)

[['District',
  '2nd',
  '3rd',
  '5th',
  '9th',
  '11th',
  '12th',
  '13th',
  '14th',
  '15th',
  '17th',
  '18th',
  '19th'],
 ['Location',
  'Marin County and the North Coast',
  'Fairfield , Vacaville , and the Sacramento Valley',
  'Santa Rosa , Napa County , Vallejo , and Martinez',
  'Antioch and most of San Joaquin County',
  'Most of Contra Costa County',
  'Most of San Francisco',
  'Berkeley , Oakland , and San Leandro',
  'Most of San Mateo County',
  'Hayward , Union City , and the Tri-Valley',
  'Fremont and northern Silicon Valley',
  'Menlo Park and western Silicon Valley',
  'San Jose and Morgan Hill'],
 ['Representative',
  'Jared Huffman',
  'John Garamendi',
  'Mike Thompson',
  'Jerry McNerney',
  'George Miller',
  'Nancy Pelosi',
  'Barbara Lee',
  'Jackie Speier',
  'Eric Swalwell',
  'Mike Honda',
  'Anna Eshoo',
  'Zoe Lofgren'],
 ['Cook PVI',
  'D+20',
  'D+3',
  'D+19',
  'D+6',
  'D+17',
  'D+34',
  'D+37',
  'D+23',
  'D+16',
  'D+20',
  'D+18',
  'D+19'],
 ['2012 election results',
  '69.0%–27.0% Obama',
  '54.3%–43.1% Obama',
  '69.7%–27.4% Obama',
  '57.8%–40.1% Obama',
  '67.5%–29.9% Obama',
  '84.0%–12.5% Obama',
  '87.5%–9.0% Obama',
  '74.2%–23.6% Obama',
  '68.0%–29.8% Obama',
  '71.9%–25.5% Obama',
  '68.2%–28.9% Obama',
  '71.2%–26.5% Obama'],
 ['Median household income (2011)',
  '$56,576',
  '$53,602',
  '$58,942',
  '$52,209',
  '$69,586',
  '$69,046',
  '$56,906',
  '$79,287',
  '$82,179',
  '$92,030',
  '$97,001',
  '$71,479']]

In [200]:
small_df.to_dict()

{'Player': {0: 'Kurt Thomas Category:Articles with hCards',
  1: 'David Thompson Category:Articles with hCards',
  2: 'Rod Thorn Category:Articles with hCards',
  3: 'Sedale Threatt Category:Articles with hCards',
  4: 'Ray Tolbert Category:Articles with hCards',
  5: 'Dean Tolson Category:Articles with hCards',
  6: 'John Tresvant Category:Articles with hCards',
  7: 'Al Tucker Category:Articles with hCards'},
 'Nationality': {0: 'United States',
  1: 'United States',
  2: 'United States',
  3: 'United States',
  4: 'United States',
  5: 'United States',
  6: 'United States',
  7: 'United States'},
 'Jersey Number(s)': {0: '44',
  1: '44',
  2: '44',
  3: '4',
  4: '33',
  5: '20',
  6: '30',
  7: '33'},
 'Position': {0: 'PF / C',
  1: 'SF / SG',
  2: 'SG',
  3: 'PG',
  4: 'PF',
  5: 'PF',
  6: 'PF / C',
  7: 'SF'},
 'Years': {0: '2007–2008',
  1: '1982 – 1984',
  2: '1967 – 1971',
  3: '1988 – 1991',
  4: '1981 – 1983',
  5: '1974–1975 1976 – 1977',
  6: '1969 – 1970',
  7: '1968 – 1969'},
 'From': {0: 'Texas Christian',
  1: 'North Carolina State',
  2: 'West Virginia',
  3: 'West Virginia Tech',
  4: 'Indiana Hoosiers',
  5: 'Arkansas',
  6: 'Seattle',
  7: 'Oklahoma Baptist'}}