In [72]:
import itertools
import pandas as pd
import numpy as np

In [73]:
hour = np.arange(0,24)
day = np.arange(0,30)
month = np.arange(0,12)
product = ['A','B','C','D']

In [74]:
df = pd.DataFrame(list(itertools.product(month, day, hour, product)), columns=['month','day','hour','product'])

In [75]:
df['vol'] = np.random.randint(0,40, size=df.shape[0])
df['price'] = -1
df['discount'] = np.random.uniform(0,0.2,size=df.shape[0])

In [76]:
df['price'].loc[df['product']=='A'] = 10
df['price'].loc[df['product']=='B'] = 5
df['price'].loc[df['product']=='C'] = 3
df['price'].loc[df['product']=='D'] = 8

/Users/akshay/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [77]:
df['sale'] = df['vol']*df['price']*(1-df['discount'])

       month  day  hour product  vol  price  discount        sale
0          0    0     0       A   36     10  0.175162  296.941507
4          0    0     1       A   28     10  0.015685  275.608180
8          0    0     2       A   11     10  0.184631   89.690594
12         0    0     3       A    0     10  0.072765    0.000000
16         0    0     4       A   34     10  0.166528  283.380432
...      ...  ...   ...     ...  ...    ...       ...         ...
34540     11   29    19       A   29     10  0.073041  268.818027
34544     11   29    20       A    7     10  0.010664   69.253511
34548     11   29    21       A   10     10  0.091837   90.816259
34552     11   29    22       A   27     10  0.138411  232.629122
34556     11   29    23       A   12     10  0.164978  100.202636

[8640 rows x 8 columns]

In [82]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [93]:
ddf = df[df['product']=='A']
X = ddf[['month','day','hour','discount']]
y = ddf['sale']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print([i.shape for i in [X_train, X_test, y_train, y_test]])

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

[(6912, 4), (1728, 4), (6912,), (1728,)]

-0.11394229803183764