# Predicting Dynamic Embedding Trajectory in Temporal Interaction Networks

- http://snap.stanford.edu/jodie/
- https://arxiv.org/pdf/1908.01207.pdf
- https://www.youtube.com/watch?v=ItBmU8681j0

In [1]:
import pandas as pd

#### SAMPLE DATA

```
user,item,timestamp,state_label,comma_separated_list_of_features
0,0,0.0,0,0.1,0.3,10.7
2,1,6.0,0,0.2,0.4,0.6
5,0,41.0,0,0.1,15.0,0.6
3,2,49.0,1,100.7,0.8,0.9
```

In [14]:
df = pd.read_clipboard(',').reset_index().drop(['level_0','level_1'], axis=1)

In [15]:
df

   user  item  timestamp  state_label  comma_separated_list_of_features
0   0.0     0        0.1          0.3                              10.7
1   6.0     0        0.2          0.4                               0.6
2  41.0     0        0.1         15.0                               0.6
3  49.0     1      100.7          0.8                               0.9

In [7]:
df.columns

Index(['user', 'item', 'timestamp', 'state_label',
       'comma_separated_list_of_features'],
      dtype='object')

In [18]:
datapath = '/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects Non Git/Mooc/mooc.csv'

In [20]:
pd.read_csv(datapath, index_col=None)

                   user_id   item_id  timestamp  state_label  \
0    0  0.0              0 -0.319991  -0.435701     0.106784
     1  6.0              0 -0.319991  -0.435701     0.106784
     2  41.0             0 -0.319991  -0.435701     0.106784
     1  49.0             0 -0.319991  -0.435701     0.106784
     2  51.0             0 -0.319991  -0.435701     0.106784
...                    ...       ...        ...          ...
7026 8  2572041.0        0 -0.319991  -0.435701     0.106784
6842 8  2572043.0        0 -0.319991  -0.435701     0.106784
7026 9  2572048.0        0 -0.319991  -0.435701     0.106784
6842 5  2572054.0        0 -0.319991  -0.435701     0.106784
70   23 2572086.0        0 -0.319991  -0.435701     0.106784

                   comma_separated_list_of_features
0    0  0.0                               -0.067309
     1  6.0                               -0.067309
     2  41.0                              -0.067309
     1  49.0                              -0.067309
     2  51.0                              -0.067309
...                                             ...
7026 8  2572041.0                         -0.067309
6842 8  2572043.0                         -0.067309
7026 9  2572048.0                         -0.067309
6842 5  2572054.0                         -0.067309
70   23 2572086.0                         -0.067309

[411749 rows x 5 columns]

In [ ]:
pd.unique()