Everything is based on set notations used from Discrete mathematics.

https://www.youtube.com/watch?v=tyDKR4FG3Yw&index=1&list=PLDDGPdw7e6Ag1EIznZ-m-qXu4XX3A0cIz

In [11]:
#Cross product of 3 'sets' or in this case lists

a = {1,2}
b = {3,4}
c = {'a','b','c'}

crossprod = [(x,y,z) for x in a for y in b for z in c]
crossprod

[(1, 3, 'b'),
 (1, 3, 'c'),
 (1, 3, 'a'),
 (1, 4, 'b'),
 (1, 4, 'c'),
 (1, 4, 'a'),
 (2, 3, 'b'),
 (2, 3, 'c'),
 (2, 3, 'a'),
 (2, 4, 'b'),
 (2, 4, 'c'),
 (2, 4, 'a')]

In [12]:
#Cardinality of this list

print(len(a))
print(len(b))
print(len(c))
print(len(crossprod))

2
2
3
12

# Iterator, Iterable

In [18]:
sampStr = iter("Sample")  #Iterator
print("Char :", next(sampStr))   #Iterables
print("Char :", next(sampStr))
print("Char :", next(sampStr))
print("Char :", next(sampStr))
print("Char :", next(sampStr))
print("Char :", next(sampStr))

Char : S
Char : a
Char : m
Char : p
Char : l
Char : e

In [19]:
class Alphabet:
    def __init__(self):
        self.letters = "ABCDEFGH"
        self.index = -1
    def __iter__(self):
        return self
    def __next__(self):
        if self.index >= len(self.letters) - 1:
            raise StopIteration
        self.index += 1
        return self.letters[self.index]

In [20]:
alpha = Alphabet()

for letter in alpha:
    print(letter)

A
B
C
D
E
F
G
H

In [23]:
akshay = {'fName': 'Akshay', 'lName': 'Sehgal'}

for key in akshay:
    print(key, akshay[key])

fName Akshay
lName Sehgal

In [27]:
class fibona:
    def __init__(self):
        self.first = 0
        self.second = 1
    def __iter__(self):
        return self
    def __next__(self):
        fibNum = self.first + self.second
        self.first = self.second
        self.second = fibNum
        return fibNum

In [26]:
fibgen = fibona()
for i in range(10):
    print("Fib : ",next(fibgen))

Fib :  1
Fib :  2
Fib :  3
Fib :  5
Fib :  8
Fib :  13
Fib :  21
Fib :  34
Fib :  55
Fib :  89

In [32]:
list(map((lambda x: x*2),range(1,11)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
[2*x for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [34]:
list(filter((lambda x: x%2!=0), range(1,11)))

[1, 3, 5, 7, 9]

In [35]:
[x for x in range(1,11) if x%2!=0]

[1, 3, 5, 7, 9]

In [36]:
#generate 50 values, take power of 2, return multiples of 8

[i**2 for i in range(50) if i%8==0]

[0, 64, 256, 576, 1024, 1600, 2304]

In [37]:
[x * y for x in range(1,3) for y in range(11,16)]

[11, 12, 13, 14, 15, 22, 24, 26, 28, 30]

In [38]:
# generate a list of 10 values, multiply by 2, return multiples of 8

[x for x in [i*2 for i in range(10)] if x%8==0]

[0, 8, 16]

In [40]:
#Generate a list of 50 random values b/w 1 and 1000, return those that are multiples of 9
import random

[x for x in [random.randint(1,1001) for i in range(50)] if x%9==0]

[567, 189, 144, 252, 81, 729]

In [41]:
multilist = [[1,2,3],[4,5,6],[7,8,9]]
multilist

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
[col[1] for col in multilist]

[2, 5, 8]

In [43]:
[multilist[i][i] for i in range(len(multilist))]

[1, 5, 9]

In [44]:
def isprime(num):
    for i in range(2, num):
        if (num%i)==0:
            return False
    return True

def gen_prime(max_number):
    for num1 in range(2,max_number):
        if isprime(num1):
            yield num1

In [46]:
prime = gen_prime(50)

print('prime : ',next(prime))
print('prime : ',next(prime))
print('prime : ',next(prime))
print('prime : ',next(prime))
print('prime : ',next(prime))

prime :  2
prime :  3
prime :  5
prime :  7
prime :  11

In [52]:
double = (x*2 for x in range(10))
print("Double :", next(double))
print("Double :", next(double))
print("Double :", next(double))
print("Double :", next(double))

Double : 0
Double : 2
Double : 4
Double : 6

In [53]:
for num in double:
    print(num)

8
10
12
14
16
18