<h1>Analysis of Titanic Dataset - kMeans</h1>

<p>Reference : https://www.youtube.com/watch?v=8p6XaQSIFpY</p>

In [2]:
#Setting Work Directory

import os
os.chdir('C:\\Users\\Akshay\\Desktop\\Titanic\\')
os.getcwd()

'C:\\Users\\Akshay\\Desktop\\Titanic'

In [17]:
#Calling Libraries

import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

import numpy as np
import pandas as pd

from sklearn.cluster import KMeans
from sklearn import preprocessing, cross_validation

<p>Titanic dataset contains following variables :
<ul>
<li>Pclass - Passenger class (1 = 1st, 2 = 2nd, 3 = 3rd)</li>
<li>survival - Survival (0 = No; 1 = Yes)</li>
<li>name - Name</li>
<li>sex - Sex</li>
<li>age - Age</li>
<li>sibsp - Number of Siblings/Spouses Aboard</li>
<li>parch - Number of Parents/Children Aboard</li>
<li>ticket - Ticket Number</li>
<li>fare - Passenger Fare (British pound)</li>
<li>cabin - Cabin</li>
<li>embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)</li>
<li>boat - Lifeboat</li>
<li>body - Body Identification Number</li>
<li>home.dest - Home/Destination</li>
</ul>
</p>

In [18]:
df = pd.read_excel('titanic.xls')
print(df.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [19]:
df.drop(['name','body'],axis=1, inplace=True)
df.convert_objects(convert_numeric=True)
df.fillna(0,inplace=True)
print(df.head())

   pclass  survived     sex      age  sibsp  parch  ticket      fare    cabin  \
0       1         1  female  29.0000      0      0   24160  211.3375       B5
1       1         1    male   0.9167      1      2  113781  151.5500  C22 C26
2       1         0  female   2.0000      1      2  113781  151.5500  C22 C26
3       1         0    male  30.0000      1      2  113781  151.5500  C22 C26
4       1         0  female  25.0000      1      2  113781  151.5500  C22 C26

  embarked boat                        home.dest
0        S    2                     St Louis, MO
1        S   11  Montreal, PQ / Chesterville, ON
2        S    0  Montreal, PQ / Chesterville, ON
3        S    0  Montreal, PQ / Chesterville, ON
4        S    0  Montreal, PQ / Chesterville, ON

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [20]:
def handle_non_numerical_data(df):
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

df = handle_non_numerical_data(df)   
print(df.head())

   pclass  survived  sex      age  sibsp  parch  ticket      fare  cabin  \
0       1         1    1  29.0000      0      0     756  211.3375     54
1       1         1    0   0.9167      1      2     513  151.5500    131
2       1         0    1   2.0000      1      2     513  151.5500    131
3       1         0    0  30.0000      1      2     513  151.5500    131
4       1         0    1  25.0000      1      2     513  151.5500    131

   embarked  boat  home.dest
0         2     1        292
1         2    13        227
2         2     0        227
3         2     0        227
4         2     0        227

In [21]:
X = np.array(df.drop(['survived'],axis=1).astype(float))
Y = np.array(df['survived'])

In [23]:
#Modifications
X = preprocessing.scale(X)

In [26]:
#Clustering

clf = KMeans(n_clusters=2)
clf.fit(X)

correct=0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == Y[i]:
        correct+=1
        
print(correct/len(X))

0.7364400305576776