# Keras Syntax Tutorial
Author: Akshay Sehgal, 6th Apr 2020

The motivation of this notebook is to master the flow of data through your computation graph by throughly exploiting the APIs provided by Keras. The plan is to go through the syntax and subtleties of each of the layers and functions provided by Keras to the user. Finally the reason this is being documented in the first place is due to the state of global lockdown due to COVID-19 outbreak.

## Data

I will be using a dataset from csv file throughout the notebook as this is how one would be practically working.

In [40]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('https://raw.githubusercontent.com/Akshaysehgal2005/Projects/master/Small%20Datasets/autompg/auto-mpg.csv', sep=',')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model year      398 non-null int64
origin          398 non-null int64
car name        398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [39]:
df[df['horsepower']=='?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [37]:
[(i,type(df[i][0])) for i in df.columns]

[('mpg', numpy.float64),
 ('cylinders', numpy.int64),
 ('displacement', numpy.float64),
 ('horsepower', str),
 ('weight', numpy.int64),
 ('acceleration', numpy.float64),
 ('model year', numpy.int64),
 ('origin', numpy.int64),
 ('car name', str)]

In [12]:
target = ['mpg']
categorical = ['model year', 'origin','car name']
continous = ['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration']

In [34]:
cat_fix = list(zip(categorical,[np.str for i in range(len(categorical))]))
con_fix = list(zip(continous,[np.float64 for i in range(len(continous))]))
fix = dict(cat_fix+con_fix)
fix

{'model year': str,
 'origin': str,
 'car name': str,
 'cylinders': numpy.float64,
 'displacement': numpy.float64,
 'horsepower': numpy.float64,
 'weight': numpy.float64,
 'acceleration': numpy.float64}

In [35]:
df.astype(fix)

ValueError: could not convert string to float: '?'

In [20]:
df[i].apply()

[numpy.int64, numpy.float64, str, numpy.int64, numpy.float64]

In [15]:
np.array(df[continous])

array([[8, 307.0, '130', 3504, 12.0],
       [8, 350.0, '165', 3693, 11.5],
       [8, 318.0, '150', 3436, 11.0],
       ...,
       [4, 135.0, '84', 2295, 11.6],
       [4, 120.0, '79', 2625, 18.6],
       [4, 119.0, '82', 2720, 19.4]], dtype=object)

##