In [1]:
from keras.datasets import imdb

In [4]:
(X_train, y_train), (X_test, y_test) = imdb.load_data()

In [5]:
[i.shape for i in [X_train, y_train, X_test, y_test]]

[(25000,), (25000,), (25000,), (25000,)]

In [17]:
def get_text(vec):
    INDEX_FROM=3
    word_to_id = imdb.get_word_index()
    word_to_id = {k:(v+INDEX_FROM) for k,v in word_to_id.items()}
    word_to_id["<PAD>"] = 0
    word_to_id["<START>"] = 1
    word_to_id["<UNK>"] = 2

    id_to_word = {value:key for key,value in word_to_id.items()}
    return ' '.join(id_to_word[id] for id in vec )

In [31]:
get_text(X_train[5])

"<START> begins better than it ends funny that the russian submarine crew outperforms all other actors it's like those scenes where documentary shots br br spoiler part the message dechifered was contrary to the whole story it just does not mesh br br"

In [25]:
y_test

array([0, 1, 1, ..., 0, 0, 0])

In [36]:
import pandas as pd

In [37]:
dat = {'Block': ['blk_-105450231192318816', 'blk_-1076549517733373559', 'blk_-1187723472581877455', 'blk_-1385756122847916710',  'blk_-1470784088028862059'], 'Seq': ['13 13 13 15',' 15 13 13', '13 13 15', '13 13 15 13', '13'], 'Time' : ['1257712532.0 1257712532.0 1257712532.0 1257712532.0','1257712533.0 1257712534.0 1257712534.0','1257712533.0 1257712533.0 1257712533.0','1257712532.0 1257712532.0 1257712532.0 1257712534.0','1257712535.0']}

In [38]:
dat

{'Block': ['blk_-105450231192318816',
  'blk_-1076549517733373559',
  'blk_-1187723472581877455',
  'blk_-1385756122847916710',
  'blk_-1470784088028862059'],
 'Seq': ['13 13 13 15', ' 15 13 13', '13 13 15', '13 13 15 13', '13'],
 'Time': ['1257712532.0 1257712532.0 1257712532.0 1257712532.0',
  '1257712533.0 1257712534.0 1257712534.0',
  '1257712533.0 1257712533.0 1257712533.0',
  '1257712532.0 1257712532.0 1257712532.0 1257712534.0',
  '1257712535.0']}

In [76]:
df = pd.DataFrame(dat)

In [77]:
df

                      Block  ...                                               Time
0   blk_-105450231192318816  ...  1257712532.0 1257712532.0 1257712532.0 1257712...
1  blk_-1076549517733373559  ...             1257712533.0 1257712534.0 1257712534.0
2  blk_-1187723472581877455  ...             1257712533.0 1257712533.0 1257712533.0
3  blk_-1385756122847916710  ...  1257712532.0 1257712532.0 1257712532.0 1257712...
4  blk_-1470784088028862059  ...                                       1257712535.0

[5 rows x 3 columns]

In [108]:
def zipper(row):
    return {row['Block']:dict(pd.DataFrame(zip(fixit(row['Seq']), fixit(row['Time']))))}

In [109]:
def fixit(string):
    return list(map(eval, string.split()))

In [110]:
df['zips'] = df.apply(zipper, axis=1)

In [111]:
df

                      Block  ...                                               zips
0   blk_-105450231192318816  ...  {'blk_-105450231192318816': {0: [13, 13, 13, 1...
1  blk_-1076549517733373559  ...  {'blk_-1076549517733373559': {0: [15, 13, 13],...
2  blk_-1187723472581877455  ...  {'blk_-1187723472581877455': {0: [13, 13, 15],...
3  blk_-1385756122847916710  ...  {'blk_-1385756122847916710': {0: [13, 13, 15, ...
4  blk_-1470784088028862059  ...  {'blk_-1470784088028862059': {0: [13], 1: [125...

[5 rows x 4 columns]