## ___________________________

In [ ]:
a = 'Python'

il = (a[:-1],'abc')
il

## ___________________________

In [ ]:
import numpy as np

In [ ]:
statements = [['i like this phone','phone not to shabby'],['i hate this device','not really usable']]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cnt = CountVectorizer()

In [ ]:
cnt.fit([i for sublist in statements for i in sublist])

In [ ]:
def make_readable(f):
    def wrapper(*args,**kwargs):
        print("Readable format :")
        cols = list(dict(sorted(cnt.vocabulary_.items(), key=lambda x:x[1])).keys())
        df = pd.DataFrame(columns=cols)
        x = f(*args,**kwargs)
        for i in range(x.shape[0]):
            df.loc[i] = x[i]
        return df
    return wrapper

In [ ]:
def avg_embeddings(f):
    def wrapper(*args, **kwargs):
        x = f(*args,**kwargs)
        x1 = np.mean(x, axis=0).reshape(1,10)
        return x1
    return wrapper

In [ ]:
@make_readable
@avg_embeddings
def get_sentence_embeddings(comments):
    return cnt.transform(comments).toarray()

In [ ]:
[get_sentence_embeddings(i) for i in statements]

## ____________________________

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3], 'col2':[1,0,0], 'col3':[1,0,0]})

In [ ]:
df

In [ ]:
img = np.random.random((4,4,3))
img

In [ ]:
img.reshape((4*4,3))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
a = {"config":"4", "location":"C:\\xyz", "Group":"amcat"}
b = {"config":"4", "location":"C:\\xyz", "Group":"amcat"}
c = {"config":"5", "location":"C:\\mno", "Group":"alien"}
d = {"config":"5", "location":"C:\\mno", "Group":"alien"}

In [ ]:
list_dicts = [a,b,c,d]

In [ ]:
list_dicts

In [ ]:
values = np.array([list(i.values()) for i in list_dicts])

In [ ]:
uniques = np.unique(values, axis=0)

In [ ]:
idx = [[j for j in range(len(values)) if all(values[j]==i)] for i in uniques]
idx

In [ ]:
dictXml = {
'a.xml': {"config":"4", "location":"C:\\xyz", "Group":"amcat"},
'c.xml': {"config":"5", "location":"C:\\mno", "Group":"alien"},
'b.xml': {"config":"4", "location":"C:\\xyz", "Group":"amcat"},
'd.xml': {"config":"5", "location":"C:\\mno", "Group":"alien"},
}

In [ ]:
new_df = {k:list(v.values()) for k,v in dictXml.items()}
new_df

In [ ]:
dictXml

In [ ]:
[(k,v) for k,v in dictXml.items()]

## ____________________________

In [ ]:
import time

In [ ]:
import sys
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
def generate_arrays(shape):
    arr1 = np.random.random(shape)
    arr2 = np.random.random(shape)
    return arr1, arr2

#Method 1:

space = []
timer = []

for i in range(10,10000,1000):
    arrays = generate_arrays((i,1))
    start = time.time()
    arr3 = np.vstack(arrays)
    end = time.time()
    timer.append(end-start)
    space.append(sys.getsizeof(arr3))

plt.plot(timer,'red')

In [ ]:
arr = np.random.random((10000,1))

In [ ]:
print("** Space:",sys.getsizeof(arr),"bytes")
print("** Time:",sys.getsizeof(arr),"bytes")

In [ ]:
import sys

In [ ]:
x = np.random.random((1000000,))
y = np.random.random((1000000,))
z = zip(x,y)

In [ ]:
sys.getsizeof(z)

In [ ]:
FileA = [1, 2, 3, 4, 5, 6, 7, 8]
FileB = [1, 3, 4, 6, 8]

In [ ]:
delta_z = (i[0] for i in zip(FileA,FileB) if i[0]!=i[1])

In [ ]:
[i for i in delta_z]

In [ ]:
delta_z = (i for i in zip(x,y) if i[0]!=i[1])

In [ ]:
plt

In [ ]:
fig=plt.figure()
ax=fig.add_subplot(1,1,1)
plt.text(0.1, 0.85,'dummy text',horizontalalignment='left',verticalalignment='center',transform = ax.transAxes)

## ____________________________

In [ ]:
dict1 = [{'a':1, 'b':2, 'c':3}]

In [ ]:
l = ['CategoricalEncoder', 'LabelBinarizer', 'LabelEncoder']

In [ ]:
for i in l:
    eval(str('from sklearn.preprocessing import '+ i))

## ____________________________

In [ ]:
child = [{'child_id' : 1, 'child_name' : 'matthew' , 'parent_id': 1},
         {'child_id' : 2, 'child_name' : 'luke' , 'parent_id': 1},
         {'child_id' : 3, 'child_name' : 'mark' , 'parent_id': 2}]

parent = [{'parent_id':1, 'parent_name': 'john'},
          {'parent_id':2, 'parent_name': 'paul'}, 
          {'parent_id':3, 'parent_name': 'titus'}]

In [ ]:
child_df = pd.DataFrame.from_dict(child)
parent_df = pd.DataFrame.from_dict(parent)

In [ ]:
child_df

In [ ]:
parent_df

In [ ]:
def get_id(d, key='parent_id'):
    return {d.get('parent_id'):d}

In [ ]:
[get_id(i) for i in child]

In [ ]:
[get_id(i) for i in parent]

In [ ]:
def fix_dict(ddd):
    return {k: [dic[k] for dic in ddd] for k in ddd[0]}

In [ ]:
parent2 = fix_dict(parent)
child2 = fix_dict(child)

In [ ]:
parent2

In [ ]:
child2

In [ ]:
parent2['child_embed'] = [[i for i in child2.items() if child2['parent_id']==j] for j in parent2['parent_id']]

In [ ]:
parent2

In [ ]:
parent2['parent_id']

In [ ]:
child

In [ ]:
parent

In [ ]:
[j for j in child['parent_id'] for i in parent]

In [ ]:
parent['child_embed'] = [[j for j in child if j['parent_id']==i['parent_id']] for i in parent]

In [ ]:
[j for j in child if j['child_id']==1]

## ____________________________

In [ ]:
a = [[0, 1], [1, 3], [2, 1], [3, 1]]

In [ ]:
a

In [ ]:
b = [tuple(i) for i in a]

In [ ]:
np.unique(a)

In [ ]:
a0 = [[(i,j[0]) for j in a if i in j] for i in np.unique(a)]

In [ ]:
a1 = [[i[0][0],[j[1] for j in i]] for i in a0]

In [ ]:
a1

## ____________________________

In [ ]:
l = [[1,2,3,4,5,6],
 [7,8,9,10,11,12],
 [13,14,15,16,17,18]]

In [ ]:
[item for item in l]

In [ ]:
[[(i,n) for i,n in enumerate(item)] for item in l]

In [ ]:
[[n if i%3 else 0 for i,n in enumerate(item)] for item in l]

In [ ]:
[[(i % 3 and x or 0) for i, x in enumerate(y)] for y in l]

## ____________________________

In [ ]:
from keras import backend as K
K.tensorflow_backend._get_available_gpus()

In [ ]:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

In [ ]:
import numpy as np
datas=[[1,2],[3,4]]
temp=[1,2]
datas=np.array(datas)
temp=np.array(temp)[:, np.newaxis] ## this adds new dimension 

np.append(datas,temp,axis=1)

In [ ]:
datas

In [ ]:
datas=[[1,2],[3,4]]
temp=[1,2]

#Expand the dims of temp
temp = np.expand_dims(temp,1) 

#Stack horizontally
np.hstack((datas, temp))

In [ ]:
datas=[[1,2],[3,4]]
np.hstack((datas, temp))

## ____________________________

In [ ]:
main_dict = {
  "__class": "Tape",
  "Clips": [
    {
      "__class": "MotionClip",
      "Id": 4280596098,
      "TrackId": 4094799440,
      "IsActive": 1,
      "StartTime": 180,
      "Duration": 48,
      "ClassifierPath": "world\/maps\/error\/timeline\/moves\/error_intro_walk.msm",
      "GoldMove": 0,
      "CoachId": 0,
      "MoveType": 0,
   },
   {
      "__class": "MotionClip",
      "Id": 2393481294,
      "TrackId": 4094799440,
      "IsActive": 1,
      "StartTime": 372,
      "Duration": 48,
      "ClassifierPath": "world\/maps\/error\/timeline\/moves\/error_ve_opening.msm",
      "GoldMove": 0,
      "CoachId": 0,
      "MoveType": 0,
   }
  ]
}

In [ ]:
#Accessing a specific key in a dict, in this case Clips (list of dicts)
list_dicts = main_dict.get('Clips')

In [ ]:
def fix_value(k,v):
    
    if k=='Duration':
        return '00000'+str(v)
    
    #Add more elseif in between with various things you wanna handle 
    
    else:
        return v

In [ ]:
[{k:fix_value(k,v) for k,v in i.items()} for i in list_dicts] 
#Iterating over each key, value in each dict in list of dicts

## ____________________________

In [ ]:
song = ["Es", "gingen", "zwei", "Parallelen",
"ins", "Endlose", "hinaus",
"zwei", "kerzengerade", "Seelen",
"und", "aus", "solidem", "Haus",

"Sie", "wollten", "sich", "nicht", "schneiden",
"bis", "an", "ihr", "seliges", "Grab",
"Das", "war", "nun", "einmal", "der", "beiden",
"geheimer", "Stolz", "und", "Stab",

"Doch", "als", "sie", "zehn", "Lichtjahre",
"gewandert", "neben", "sich", "hin", #hin[42]
"da", "wards", "dem", "einsamen", "Paare",
"nicht", "irdisch", "mehr", "zu", "Sinn",

"Warn", "sie", "noch", "Parallelen",
"Sie", "wußtens", "selber", "nicht", 
"sie", "flossen", "nur", "wie", "zwei", "Seelen",
"zusammen", "durch", "ewiges", "Licht",

"Das", "ewige", "Licht", "durchdrang", "sie",
"da", "wurden", "sie", "eins", "in", "ihm",
"die", "Ewigkeit", "verschlang", "sie",
"als", "wie", "zwei", "Seraphim"]

word = input("Enter a word")

if word in song[0:43]:
    print(word)
    a = song[len(word)+song[0:word]]
    print(a)

In [ ]:
len(song)

## ____________________________

In [ ]:
import itertools

a = [[2,3,6,8],[4,5,7,8,10],[15,17,21,22],[12,13,14,23,25]]
b = [[4,5,6],[15,17,21,22],[2,3,4],[2,3,6,8],[5,7,8,12,15],[7,12,14,17,32],[5,6,7,12,14]]

z = itertools.product(a,b)
[i[0] for i in z if str(i[0])==str(i[1])]

## ____________________________

In [ ]:
s = "Donc ce n'est pas non plus de vous dire « Allez absolument ici ! », non. hi there this is another sentence"

In [ ]:
from nltk.tokenize import sent_tokenize,word_tokenize
word_tokenize(s, language='french')

In [ ]:
ss = s.split('!','.')

In [ ]:
import re

re.split('[!.]',s)

In [ ]:
dict_1 = {'success': "RC.input_validation", 
          'return_msg': "return_msg", 
          'debug_data': "debug_data"}

dict_2 = {'success':  "RC.success", 
          'return_msg': "return_msg", 
          'debug_data': "debug_data"}

In [ ]:
try:
    a = dict_1.get('success')==dict_2.get('success')
except:
    a = "Success not found"

In [ ]:
a

## ____________________________

In [ ]:
import numpy as np

In [ ]:
a = np.array([[1,[1,2,3,4,5,6,7,8,9,10]],[2,[11,12,13,14,15,16,17,18,19,20]],[3,[1,2,3,4,5,6,7,8,9,10]],[4,[11,12,13,14,15,16,17,18,19,20]]])
b = np.array([[1,0],[2,1],[3,1],[4,0]])

## ____________________________

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'v1_m1':[0,1],'v2_m1':[2,2],'f_m1':[10,10],'v1_m2':[1,2],'f_m2':[5,5]})
df

In [ ]:
list(df.items())[0][0][-2:]

In [ ]:
list(list(df.items())[0][1])

In [ ]:
[i[0] for i in list(df.items())]

In [ ]:
df.from_records()

In [ ]:
[(i[0][0],i[1][0])
     for i in itertools.product(df.items(),repeat=2) 
     if (i[0][0][-2:]==i[1][0][-2:]) 
     and i[1][0][:1]=='f' and i[0][0][:1]!='f']

In [ ]:
list(df.items())

In [ ]:
df

## ____________________________

In [ ]:
df = pd.DataFrame({'A':[1,1,2,2], 'B':[5,6,7,8], 'C':[9,10,10,9]})

In [ ]:
df

In [ ]:
df.pivot(index='C',columns='A',values='B')

In [ ]:
print(df.groupby(['C','A'])['B'].sum().unstack())

In [ ]:
df

In [ ]:
dff = pd.DataFrame(df.groupby(['A','C'])['B'].sum())

In [ ]:
dff.sort_values(by=['A','B'], ascending=False)

In [ ]:
dff.groupby(['A']).head(2)

## ____________________________

In [ ]:
length = 6
pp = [5,6,7,8,9,0]
kk = [[1,5],[4,4],[2,6],[3,2]]

mega = [[w,p] for p in pp for w in range(length)]

In [ ]:
import itertools

[i for i in itertools.product(mega,kk) if i]

## ____________________________

In [ ]:
import os

In [ ]:
#path = os.getcwd()

In [ ]:
path = '/Users/akshay/Documents/Designs'
filetups = [(r,f) for r,d,f in os.walk(path)]
[i+'/'+k for i,j in filetups for k in j]

## ____________________________

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'ID':['item_1','item_2','item_3','item_4'],'col1':['abc','bcd',np.nan,'mnb'],'col2':[np.nan, np.nan, np.nan, 'lkj']})

In [ ]:
df

In [ ]:
df['new'] = df.apply((df['col1'],df['col2']))

In [ ]:
[(x,y) for x, y in zip(df['col1'],df['col2'])]

In [ ]:
a = pd.DataFrame(df[['col1','col2']].stack(dropna=True),columns=['col1']).reset_index(level=1, drop=True)
pd.merge(df[['ID']],a,how='left',left_index=True, right_index=True)

In [ ]:
df.index.get_level_values(0)

## ____________________________

In [ ]:
sd = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
[(k,v) for k,v in sd.items()]

## ____________________________

In [ ]:
df = pd.DataFrame({'unit':[1,1,1,2,2],'time':[1,2,3,1,2],'s1':[2,4,9,5,3], 's2':[3,5,7,2,1]})

In [ ]:
df

In [ ]:
%%timeit
def f(col):
    dff = df[['unit','time',col]].sort_values(by=['unit','time'],axis=0).groupby(['unit']).tail(2)
    dff['time'] = dff.groupby(['unit']).rank()
    dff = dff.pivot(index='time',columns='unit',values=col).reset_index(drop=True).add_prefix('unit_')
    return dff
f('s1')

In [ ]:
%%timeit
g= df.groupby('unit', group_keys=False).nth([-1,-2]).drop(columns=['time','s2']).T.add_prefix('unit_')#.unstack('s1')
final = pd.DataFrame({'unit_1': g['unit_1'].values.T.ravel(),
                    'unit_2': g['unit_2'].values.T.ravel()})

In [ ]:
%%timeit
def f(col):
    filt = df[['unit',col]].groupby('unit').tail(2)
    filt['count'] = filt.groupby('unit').cumcount()
    filt=filt.pivot(index='count',columns='unit',values=col).reset_index(drop=True).add_prefix("unit_")
    return filt
f("s1")

## ____________________________

In [ ]:
aaa = pd.DataFrame(index=[1,2,1,2], columns=['n','x','Temp'], data=[['A',1,2],['A',3,4],['B',10,20],['B',30,40]]).set_index(['n','x'])

In [ ]:
aaa

In [ ]:
aaa.loc['A'].loc[3]['Temp'] = 350

In [ ]:
aaa

## ____________________________

In [ ]:
ss = ['My favourite sport is football','I love to play basketball','Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal']
sports = ["basketball", "football", "baseball"]

In [ ]:
df = pd.DataFrame(ss, columns=['column1'])

In [ ]:
df

In [ ]:
df['other'] = df['column1'].apply(lambda x: list(set(x.lower().split()).intersection(set(sports)))[0])

In [ ]:
df

## ____________________________

In [ ]:
dict_A = {1:14, 2:15, 3:16, 4:17}
dict_B = {2:19, 3:9, 4:11, 5:13}

In [ ]:
{1:14, 2:15, 3:9, 4:11, 5:13}

In [ ]:
import itertools

In [ ]:
%%timeit
pd.DataFrame(set(dict_A.items()).union(dict_B.items())).groupby(0).min()[1].to_dict()

In [ ]:
[i for i in itertools.product(dict_A.items(),dict_B.items()) if i[0][0]==i[1][0]]

In [ ]:
%%timeit
dict_A = {1:14, 2:15, 3:16, 4:17}
dict_B= {2:19, 3:9, 4:11, 5:13}
dict_res =dict_B

dict_A_keys = dict_A.keys()
dict_B_keys = dict_B.keys()

for e in dict_A_keys :
    if e in dict_B_keys :
        if dict_A[e]>dict_B[e]:
            dict_res[e]=dict_B[e]
        else:
            dict_res[e]=dict_A[e]
    else:
        dict_res[e]=dict_A[e]

In [ ]:
%%timeit
max_val = max(max(dict_A.values()), max(dict_B.values())) + 1 
keys = set(list(dict_A.keys()) + list(dict_B.keys()))
dict_C = { key : min(dict_A.get(key, max_val), dict_B.get(key, max_val)) for key in keys }

In [ ]:
c = {**dict_A, **dict_B, **{key:min(dict_A[key], dict_B[key]) for key in set(dict_A).intersection(set(dict_B))} }
c

In [ ]:
pd.DataFrame([dict_A,dict_B]).min().to_dict()

## ____________________________

In [ ]:
df = pd.DataFrame({'A':[1,1,1,2,2],'B':[100,200,12000,100,200],'C':[2,4,4,22,3], 'D':[3,5,7,2,1]})
df

In [ ]:
def get_outliers(l):
    q1 = l.quantile(0.25)
    q3 = l.quantile(0.75)
    iqr = q3-q1
    fenceLow = q1 - 1.5 * iqr
    fenceHigh = q3 + 1.5 * iqr
    return [~(i>=fenceLow and i<=fenceHigh) for i in l]

outliers = df.apply(get_outliers)
outliers

In [ ]:
df[~outliers.apply(lambda x:any(x), axis=1)]

## ____________________________

In [ ]:
arrays = [['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],['A', 'A', 'A', 'B', 'C', 'C', 'D', 'D']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples)
df = pd.DataFrame(np.random.randint(0, 5, (3,8)), columns=index)

In [ ]:
df

In [ ]:
suffix = pd.DataFrame(df.columns)
suffix['count'] = suffix.groupby(0).cumcount()
suffix['new'] = [((i[0]+'_'+str(j)),(i[1]+'_'+str(j))) for i,j in zip(suffix[0],suffix['count'])]
new_index = pd.MultiIndex.from_tuples(list(suffix['new']))
df.columns = new_index
df

## ____________________________

In [ ]:
df = pd.DataFrame({'Year' : ['2000 [YR 2000]','2001 [YR 2001]']})
df

In [ ]:
df['Year'] = df['Year'].apply(lambda x:x.split()[0])
df

## ____________________________

In [ ]:
import pandas as pd

In [ ]:
#list of State
state_abbrv = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA",
        "ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK",
        "OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"]

#Create dataframe 
d = {"Index": [1, 2, 3, 4, 5 , 6, 7], "Description": ["ABNY", "MANY", "NYNY","DO", "nyNY", "ABALBB", "ALCA"]}

df = pd.DataFrame(data=d)

In [ ]:
df

In [ ]:
s = 'ABNYBBCC'

In [4]:
pd.Datetime('2020-06-05 00:00:00')

AttributeError: module 'pandas' has no attribute 'Datetime'

## ____________________________

In [ ]:
import numpy as np

In [6]:
import pandas as pd
import numpy as np
# setup
df = pd.DataFrame([5,7,4,12,3,4,1], columns=['Value'])
# calculate countif
#df['Count'] = df.Value.expanding(1).apply(lambda x: np.sum(np.where(x > x[-1], 1, 0))).astype('int')

In [ ]:
df

## ____________________________

In [5]:
import pandas as pd

In [12]:
index = pd.DatetimeIndex(['2020-06-05 00:00:01','2020-06-05 00:00:02'])

In [13]:
pd.DataFrame([[1,2],[3,4]], index=index)

                     0  1
2020-06-05 00:00:01  1  2
2020-06-05 00:00:02  3  4

In [ ]:
idx = df1.index.intersection(df2.index)
min1 = idx.min()
max1 = idx.max()

## ____________________________

In [18]:
a = '><body lang="EN-IN" link="#0563C1" I am not interested. vlink="#954F72"><div class="WordSection1"><p class="MsoNormal">I am not interested.</p><p class="MsoNormal">&nbsp;</p><table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:282.0pt; border- collapse:collapse">'
b = '><body lang="EN-IN" link="#0563C1" I am interested. I need vlink="#954F72"><div class="WordSection1"><p 330 wp  50 modules class="MsoNormal">I am interested.</p><p class="MsoNormal">I need :</p><p class="MsoNormal">330 wp</p><p class="MsoNormal">50 modules</p><p class="MsoNormal">&nbsp;</p><table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0" style="width:282.0pt; border- collapse:collapse">'

In [33]:
' '.join([i[1:] for i in b[1:].replace('>','|~').replace('<','|').split('|') if i[:1]=='~' and len(i)>1 and i[:2]!='~&'])

'I am interested. I need : 330 wp 50 modules'

In [34]:
' '.join([i[1:] for i in a[1:].replace('>','|~').replace('<','|').split('|') if i[:1]=='~' and len(i)>1 and i[:2]!='~&'])

'I am not interested.'

In [35]:
def get_sent(s):
    sent = ' '.join([i[1:] for i in s[1:].replace('>','|~').replace('<','|').split('|') if i[:1]=='~' and len(i)>1 and i[:2]!='~&'])
    return sent

## ____________________________

In [42]:
ddf = pd.DataFrame([[(1,2),(3,4),(4,5),(10,20)]]).T

In [43]:
ddf['A'] = [1,1,2,2]

In [79]:
dfnew = pd.concat([ddf['A'],pd.DataFrame(list(ddf[0]))], axis=1).groupby(['A']).mean()
[tuple(i[1]) for i in dfnew.items()]

[(2.0, 7.0), (3.0, 12.5)]

In [75]:
import numpy as np

In [81]:
np.mean([4,10])

7.0

In [80]:
dfnew

     0     1
A
1  2.0   3.0
2  7.0  12.5

## ____________________________

In [84]:
ddf = pd.DataFrame([[1,2,3,4,5,6],[11,22,33,44,55,66]]).T

In [85]:
ddf

   0   1
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
5  6  66

In [89]:
start = 3
end = 5

In [93]:
l = list(ddf[0])
subl = l[l.index(start):l.index(end)+1]
ddf[ddf[0].isin(subl)]

   0   1
2  3  33
3  4  44
4  5  55

## ____________________________

In [95]:
df = pd.DataFrame(['AFB001 9183Daily-#789876A','AFB001 9183Daily-#789876A'])

In [98]:
df[0].apply(lambda x: x.split('-#'))

0    [AFB001 9183Daily, 789876A]
1    [AFB001 9183Daily, 789876A]
Name: 0, dtype: object

In [104]:
ddf.loc[ddf[0]==3].index[0]

2

## ____________________________

In [105]:
import pandas as pd
import numpy as np

# data
data = [['tom', 10,2,'c',100,'x'], ['tom',16 ,3,'a',100,'x'], ['tom', 22,2,'a',100,'x'],
        ['matt', 10,1,'c',100,'x'], ['matt', 15,5,'b',100,'x'], ['matt', 14,1,'b',100,'x']]

# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Attempts','Score','Category','Rating','Other'])
df['AttemptsbyRating'] = df.groupby(by=['Rating','Other'])['Attempts'].transform('count')
df

   Name  Attempts  Score Category  Rating Other  AttemptsbyRating
0   tom        10      2        c     100     x                 6
1   tom        16      3        a     100     x                 6
2   tom        22      2        a     100     x                 6
3  matt        10      1        c     100     x                 6
4  matt        15      5        b     100     x                 6
5  matt        14      1        b     100     x                 6

In [110]:
df['Score'].gt(1)

0     True
1     True
2     True
3    False
4     True
5    False
Name: Score, dtype: bool

In [ ]:
df.gt()

In [111]:
df.groupby(['Rating','Other'])['Score'].transform('sum')

0    14
1    14
2    14
3    14
4    14
5    14
Name: Score, dtype: int64

In [114]:
ddf

   0   1
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
5  6  66

## ____________________________

In [115]:
import itertools

In [117]:
w = [59.5, 71.5, 95.5]
h = [79.5, 81.5, 95.5]
p = [880.00, 895.00, 945.00, 960.00, 980.00, 1045.00, 1120.00, 1135.00, 1225.00]

In [125]:
[(i[0]*3)+i[1] for i in itertools.product(w,h)]

[258.0, 260.0, 274.0, 294.0, 296.0, 310.0, 366.0, 368.0, 382.0]

In [128]:
pd.DataFrame(np.array(p).reshape((3,-1)),columns=w,index=h)

        59.5    71.5    95.5
79.5   880.0   895.0   945.0
81.5   960.0   980.0  1045.0
95.5  1120.0  1135.0  1225.0

## ____________________________

In [159]:
def mini(input1,input2):
    a = set()
    b=set()
    c=set()
    for i in input2:
        for j in range(i[0],i[1]+1):
            if i==input2[0]:
                a.add(j)
            elif i==input2[1]:
                b.add(j)
            else:
                c.add(j)
    d = []
    if (a.intersection(b,c)):
        d.append(a.intersection(b,c))
    elif(a.intersection(b)):
        d.append(a.intersection(b))
        d.append(min(c))
    return len(d)
        
print(mini(3,[[1,3],[2,5],[6,9]]))

2

In [294]:
input1 = 3
input2 = [[1,3],[2,5],[6,9],[7,9],[10,12]]

In [295]:
s = [set(range(i[0],i[1]+1)) for i in input2]

In [273]:
d = [s[i].intersection(set().union(*s[:i]+s[i+1:])) for i in range(len(s))]  #Select 1 set, and zip to all remaining sets for comparing

TypeError: object of type 'NoneType' has no len()

In [227]:
d

[{2, 3}, {2, 3, 4, 5}, {3, 4, 5}]

In [234]:
s

In [238]:
def g(t1,t2):
    return t1.intersection(t2)

In [246]:
a = s[1+1:]

In [245]:
b = g(s[0],s[1])

In [247]:
a.append(b)

In [253]:
s

[{1, 2, 3}, {2, 3, 4, 5}, {3, 4, 5, 6}]

In [296]:
def g(s):
    if len(s)>1:
        if s[0].intersection(s[1]):
            s = s[2:]+[s[0].intersection(s[1])]
            return g(s)
        else:
            return s
    else:
        return s

In [297]:
s = g(s)

In [301]:
mini = len(s)
reduced = [set(min(i)) for i in s]
reduced

TypeError: 'int' object is not iterable

In [292]:
len(s)

2

In [ ]:
if g(s[0],s[1]):
    s = s[1+1:]+[g(s[0],s[1])]
else:
    return s

In [233]:
for i in range(len(s)):
    s = s[i+1:].append(g(s[i],s[i+1]))
    print(s)

None

TypeError: 'NoneType' object is not subscriptable

In [189]:
xx

[{1, 2, 3}, {2, 3, 4, 5}, {6, 7, 8, 9}]

In [174]:
[i for i in itertools.product(xx,repeat=2) if i[0]!=i[1]]

[({1, 2, 3}, {2, 3, 4, 5}),
 ({1, 2, 3}, {6, 7, 8, 9}),
 ({2, 3, 4, 5}, {1, 2, 3}),
 ({2, 3, 4, 5}, {6, 7, 8, 9}),
 ({6, 7, 8, 9}, {1, 2, 3}),
 ({6, 7, 8, 9}, {2, 3, 4, 5})]

In [168]:
xx[0].intersection(xx[2])

set()

In [ ]:
i[0].intersection(i[1])

In [156]:
if (a.intersection(b,c)):
    d.append(a.intersection(b,c))
elif(a.intersection(b)):
    d.append(a.intersection(b))
    d.append(min(c))

In [148]:
xx[0].intersection(xx[1])

{2}

In [134]:
for i in input2:
    print('i -- ',i)
    for j in range(i[0],i[1]+1):
        print('j -- ',j)
        if i==input2[0]:
            a.add(j)
        elif i==input2[1]:
            b.add(j)
        else:
            c.add(j)

i --  [1, 3]
j --  1
j --  2
j --  3
i --  [2, 5]
j --  2
j --  3
j --  4
j --  5
i --  [3, 6]
j --  3
j --  4
j --  5
j --  6

In [135]:
a

{1, 2, 3}

In [136]:
b

{2, 3, 4, 5}

In [137]:
c

{3, 4, 5, 6}

In [139]:
d = []

In [140]:
if (a.intersection(b,c)):
    d.append(a.intersection(b,c))
elif(a.intersection(b)):
    d.append(a.intersection(b))
    d.append(min(c))

In [141]:
d

[{3}]