In [28]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import os

In [41]:
path = os.path.realpath('..')
data_path = os.path.join(path, 'Small Datasets', 'auto-mpg.csv')

In [42]:
df = pd.read_csv(data_path)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [43]:
df = df[df['horsepower']!='?']
df['horsepower'] = [int(i) for i in df['horsepower']]

In [44]:
y = df['mpg']
X = df.drop('mpg', axis=1)

In [45]:
encoder = LabelEncoder()
X['car name'] = encoder.fit_transform(X['car name'])

In [46]:
X.shape

(392, 8)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [48]:
[i.shape for i in [X_train, X_test, y_train, y_test]]

[(313, 8), (79, 8), (313,), (79,)]

In [49]:
xgb = XGBRegressor()
xgb.fit(X_train, y_train)

/Users/akshay/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [56]:
xgb.score(X_train, y_train)

0.9648578918509026

In [57]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [58]:
y_pred = xgb.predict(X_test)

In [59]:
mean_absolute_error(y_test,y_pred)

1.4746757024451147

In [60]:
np.sqrt(mean_squared_error(y_test,y_pred))

2.14413715713503

In [61]:
r2_score(y_test,y_pred)

0.915828705798602