# DeepFM

- https://arxiv.org/pdf/1804.04950.pdf **
- https://arxiv.org/pdf/1703.04247.pdf
- https://arxiv.org/pdf/1606.07792.pdf
- https://youtu.be/MMTuoFFRCCs
- https://www.youtube.com/watch?v=1cRGpDXTJC8
- https://6chaoran.wordpress.com/2019/01/03/implement-deepfm-model-in-keras/

In [9]:
import os
import pandas as pd
import numpy as np
from keras.layers import Input, Embedding, Reshape, Flatten, Dense, Dropout, BatchNormalization

In [2]:
path = '/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects Non Git/bank_products_data/'

In [3]:
files = [f for r,d,f in os.walk(path)][0]
filepaths = [path+i for i in files[1:]]
filepaths

['/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects Non Git/bank_products_data/train_sample2m.csv',
 '/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects Non Git/bank_products_data/train_ver2.csv',
 '/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects Non Git/bank_products_data/sample_submission.csv',
 '/Users/akshay/Dropbox/Personal/Data Science/Codes/Projects Non Git/bank_products_data/test_ver2.csv']

In [4]:
train = pd.read_csv(filepaths[0])
test = pd.read_csv(filepaths[3])
samplesubmission = pd.read_csv(filepaths[2])

train.drop(['Unnamed: 0','index'], axis=1, inplace=True)

/Users/akshay/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/akshay/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
train.columns = ['partition',
                 'customer_code',
                 'employee_index',
                 'country',
                 'sex',
                 'age',
                 'contract_date',
                 'new_customer_index',
                 'seniority',
                 'primary_status',
                 'last_date_primary',
                 'customer_type_startmonth',
                 'relation_type',
                 'residence_index',
                 'foreign_index',
                 'spouse',
                 'join_channel',
                 'deceased_index',
                 'address_type',
                 'province_code',
                 'province_name',
                 'activity_index',
                 'gross_income',
                 'segment',
                 'savings_account',
                 'guarantees',
                 'current_account',
                 'derivada_account',
                 'payroll_account',
                 'junior_account',
                 'mas_particular_account',
                 'particular_account',
                 'particular_plus_account',
                 'short_term_deposits',
                 'medium_term_deposits',
                 'long_term_deposits',
                 'e_account',
                 'funds',
                 'mortgage',
                 'pensions',
                 'loans',
                 'taxes',
                 'credit_card',
                 'securities',
                 'home_account',
                 'payroll',
                 'pensions',
                 'direct_debit']

In [6]:
train.head()

,partition,customer_code,employee_index,country,sex,age,contract_date,new_customer_index,seniority,primary_status,...,mortgage,pensions,loans,taxes,credit_card,securities,home_account,payroll,pensions,direct_debit
0,2016-03-28,1190588,N,ES,H,22,2013-10-04,0.0,29,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2016-03-28,1190589,N,ES,H,23,2013-10-04,0.0,29,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2016-03-28,1190590,N,ES,V,22,2013-10-04,0.0,29,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2016-03-28,1190591,N,ES,H,26,2013-10-04,0.0,29,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2016-03-28,1190592,N,ES,H,29,2013-10-04,0.0,29,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [14]:
product_fields = list(train.columns[-24:])

In [15]:
train1 = train[product_fields]

In [19]:
inputs = []
outputs = []

In [20]:
for p in product_fields:
    inp = Input(shape=(1,))
    out = Embedding(2,10,name=p)(inp)
    
    inputs.append(inp)
    outputs.append(out)
    
for i in range()

In [ ]:
train_big = pd.read_csv(filepaths[1])