In [ ]:
import pandas as pd
import numpy as np

In [ ]:
student_data = [[3, 620, 688, 638, 688], [5, 534, 602, 606, 700], [9, 487, 611, 477, 578]]
exam_score_df = pd.DataFrame(student_data, columns = ['student_ID', 'LANG', 'MAT', 'HIST', 'SCI'])
exam_score_df.set_index('student_ID')

program_data = [[101, 20, 30, 25, 25, 'N'], [102, 40, 10, 50, 50, 'Y']]
school_weight_df = pd.DataFrame(program_data, columns = ['program_code', '%LANG','%MAT','%HIST','%SCI', 'Alternative_Score'])
school_weight_df.set_index('program_code')

In [ ]:
exam_score_df

In [ ]:
school_weight_df

In [ ]:
def calc_score(student_ID, program_code):
    '''
    For a given student and program, returns students score for that program.
    '''
    if school_weight_df.loc[program_code]['Alternative_Score'] == 'N':

        return np.dot(np.array(exam_score_df.loc[student_ID][['LANG', 'MAT', 'HIST', 'SCI']]), 
                      np.array(school_weight_df.loc[program_code][['%LANG','%MAT','%HIST','%SCI']]))

    elif school_weight_df.loc[program_code]['Alternative_Score'] == 'Y':

        history_score = np.dot(np.array(exam_score_df.loc[student_ID][['LANG', 'MAT', 'HIST']]), 
                               np.array(school_weight_df.loc[program_code][['%LANG','%MAT','%HIST']]))

        science_score = np.dot(np.array(exam_score_df.loc[student_ID][['LANG', 'MAT', 'SCI']]), 
                               np.array(school_weight_df.loc[program_code][['%LANG','%MAT','%SCI']]))

        return max(history_score, science_score)

In [7]:
scores = np.einsum('ij,kj->kij',exam_scores, school_weights) #(1500,5000,4)

#Alternative == N
n_alt = scores[~alt_flag].sum(-1)   #(737, 5000)

#Alternative == Y
lm = scores[alt_flag,:,:2].sum(-1)  #(763, 5000, 2) -> (763, 5000)
h = scores[alt_flag,:,2]            #(763, 5000)
s = scores[alt_flag,:,3]            #(763, 5000)
y_alt = np.maximum(lm+h, lm+s)      ##(763, 5000)

In [18]:
i = 100
exam_scores[i:i+50].shape

(50, 4)

In [40]:
import numpy as np
import pandas as pd
from tqdm import notebook

exam_scores = np.random.randint(300,800,(100000,4))
school_weights = np.random.randint(10,50,(1500,4))
alt_flag = np.random.randint(0,2,(1500,), dtype=bool) #0 for N, 1 for Y
batch = 5000

n_alts = []
y_alts = []

for i in notebook.tqdm(range(0,100000,batch)):
    scores = np.einsum('ij,kj->kij', exam_scores[i:i+batch], school_weights) #(1500,5000,4)

    #Alternative == N
    n_alt = scores[~alt_flag].sum(-1).T   #(5000, 766)

    #Alternative == Y
    lm = scores[alt_flag,:,:2].sum(-1)    #(734, 5000, 2) -> (734, 5000)
    h = scores[alt_flag,:,2]              #(734, 5000)
    s = scores[alt_flag,:,3]              #(734, 5000)
    y_alt = np.maximum(lm+h, lm+s).T      #(5000, 734)
    
    n_alts.append(n_alt)
    y_alts.append(y_alt)

final_n_alts = np.vstack(n_alts)
final_y_alts = np.vstack(y_alts)

print(final_n_alts.shape)
print(final_y_alts.shape)

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

(100000, 778)
(100000, 722)

In [49]:
# My 3D raster containing values; shape = (time, x, y)
values = np.random.rand(10, 55, 60)

# A 2D raster containing start indices for the averaging
start_index = np.random.randint(0, 4, size=(values.shape[1], values.shape[2]))

# A 2D raster containing end indices for the averaging
end_index = np.random.randint(5, 9, size=(values.shape[1], values.shape[2]))

# Initialise an array that will contain results
mean_array = np.zeros_like(values[0, :, :])

# Loop over 3D raster to calculate the average between indices on axis 0
for i in range(0, values.shape[1]):
    for j in range(0, values.shape[2]):
        mean_array[i, j] = np.mean(values[start_index[i, j]: end_index[i, j], i, j], axis=0)

In [113]:
mean_array.shape

(55, 60)

In [ ]:
np.mean(values[start_index[0,0]: end_index[0,0], i, j], axis=0)

In [94]:
values[start_index[0,0]: end_index[0,0], 0, 0]

array([0.04578405, 0.68914886, 0.15233235, 0.92129213])

In [90]:
values.shape

(10, 55, 60)

In [95]:
start_index.shape

(55, 60)

In [96]:
end_index.shape

(55, 60)

In [107]:
slices = np.vectorize(slice)(start_index.flatten(), end_index.flatten())

slice(3, 7, None)

In [118]:
values[np.r_[slices[0]],0,0].mean(0)

0.45213934756553775

In [134]:
np.r_[slices[1]]

array([1, 2, 3, 4, 5, 6])

In [138]:
np.r_[slices].reshape(55,60)

(55, 60)

In [ ]:
np.take()

In [149]:
end_index-start_index

array([[4, 6, 7, ..., 4, 5, 7],
       [7, 5, 6, ..., 2, 5, 7],
       [6, 4, 6, ..., 7, 2, 4],
       ...,
       [5, 6, 5, ..., 4, 4, 5],
       [5, 5, 7, ..., 4, 8, 8],
       [6, 3, 7, ..., 4, 7, 6]])

In [161]:
np.r_[slices[0]]

array([3, 4, 5, 6])

In [162]:
np.r_[slices[1]]

array([1, 2, 3, 4, 5, 6])

In [163]:
values[np.ix_([[3,4,5,6],[1,2,3,4,5,6]])].mean(0)

/Users/akshay/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

IndexError: arrays used as indices must be of integer (or boolean) type

In [144]:
start_index.shape

(55, 60)

In [139]:
i = np.arange(values.shape[0])[:, None, None]
mean_array_2 = np.where((i >= start_index) & (i < end_index), values, 0).sum(0) / (end_index - start_index)
np.allclose(mean_array, mean_array_2)

True

In [133]:
values.flatten()[np.r_[slices[1]]]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

array([slice(3, 7, None), slice(1, 7, None), slice(0, 7, None), ...,
       slice(3, 7, None), slice(0, 7, None), slice(0, 6, None)],
      dtype=object)

In [131]:
values[np.r_[slices[1]],0,1].mean(0)

0.5060096517897337

In [ ]:
np.mean()

In [ ]:
values

In [83]:
values[:,3:7]

array([[[0.90585974, 0.67437564, 0.44775102, ..., 0.29507425,
         0.97570608, 0.68645807],
        [0.55678876, 0.26923511, 0.97362446, ..., 0.26959906,
         0.78424757, 0.64538441],
        [0.75226496, 0.43052415, 0.00939038, ..., 0.02186048,
         0.09784362, 0.16870332],
        [0.33922807, 0.55223871, 0.17701378, ..., 0.08802453,
         0.53673236, 0.08066298]],

       [[0.98685788, 0.61374661, 0.06998783, ..., 0.95155097,
         0.83762397, 0.49351058],
        [0.49919388, 0.47033415, 0.8408022 , ..., 0.57482913,
         0.5549347 , 0.38827401],
        [0.73666848, 0.04183017, 0.05085872, ..., 0.44363453,
         0.05956699, 0.66909371],
        [0.53980613, 0.87422528, 0.52551556, ..., 0.35795426,
         0.97810507, 0.19949406]],

       [[0.74396403, 0.70587141, 0.80963927, ..., 0.28528235,
         0.90056066, 0.65865189],
        [0.68903568, 0.05299841, 0.13723521, ..., 0.08179182,
         0.96324639, 0.22137117],
        [0.93207917, 0.69900467, 0.92368898, ..., 0.38701966,
         0.1754524 , 0.68775213],
        [0.79596637, 0.74836301, 0.8454117 , ..., 0.41341274,
         0.22420518, 0.46241944]],

       ...,

       [[0.44117   , 0.19720369, 0.6287791 , ..., 0.03195423,
         0.53145753, 0.40416665],
        [0.64287917, 0.7779682 , 0.68154925, ..., 0.87349198,
         0.44146865, 0.07072769],
        [0.36342393, 0.94932202, 0.23326386, ..., 0.90826224,
         0.35506964, 0.45949406],
        [0.82886454, 0.13173219, 0.5508298 , ..., 0.57752097,
         0.84442371, 0.87927546]],

       [[0.11982694, 0.74369594, 0.0591645 , ..., 0.61278099,
         0.00430558, 0.41190288],
        [0.44064676, 0.05425094, 0.78354165, ..., 0.68761497,
         0.82825818, 0.51582459],
        [0.24871622, 0.33747497, 0.88802344, ..., 0.89081433,
         0.34043165, 0.93507534],
        [0.49492637, 0.53270268, 0.41143394, ..., 0.68360389,
         0.54512668, 0.3848085 ]],

       [[0.82321098, 0.67798716, 0.05149189, ..., 0.70318562,
         0.12777206, 0.47419719],
        [0.25024545, 0.31791315, 0.88337675, ..., 0.48902202,
         0.94703458, 0.57339391],
        [0.66234377, 0.5266782 , 0.87425498, ..., 0.24725742,
         0.67634703, 0.12815053],
        [0.76041994, 0.90732531, 0.20506422, ..., 0.90519149,
         0.16229057, 0.12920894]]])

In [51]:
values.shape

(10, 55, 60)

In [53]:
start_index.shape

(55, 60)

In [54]:
end_index.shape

(55, 60)

In [58]:
start_index[0]

array([3, 1, 0, 2, 3, 1, 0, 1, 0, 3, 0, 3, 3, 1, 0, 2, 0, 3, 3, 0, 3, 0,
       1, 2, 1, 2, 1, 1, 2, 3, 0, 0, 0, 3, 2, 2, 2, 2, 2, 2, 2, 1, 2, 3,
       0, 1, 1, 0, 3, 1, 3, 2, 3, 1, 0, 0, 1, 2, 2, 1])

In [59]:
end_index[0]

array([7, 7, 7, 7, 7, 8, 6, 5, 7, 8, 8, 7, 7, 5, 5, 6, 7, 8, 8, 5, 8, 8,
       5, 7, 6, 8, 8, 5, 6, 7, 5, 5, 5, 5, 7, 8, 6, 5, 7, 6, 6, 6, 6, 7,
       8, 7, 6, 8, 8, 5, 6, 8, 5, 6, 6, 7, 6, 6, 7, 8])

In [66]:
np.stack([start_index, end_index])

array([[[3, 1, 0, ..., 2, 2, 1],
        [0, 2, 1, ..., 3, 0, 1],
        [1, 2, 1, ..., 0, 3, 1],
        ...,
        [1, 2, 3, ..., 1, 1, 1],
        [2, 0, 1, ..., 3, 0, 0],
        [1, 3, 1, ..., 3, 0, 0]],

       [[7, 7, 7, ..., 6, 7, 8],
        [7, 7, 7, ..., 5, 5, 8],
        [7, 6, 7, ..., 7, 5, 5],
        ...,
        [6, 8, 8, ..., 5, 5, 6],
        [7, 5, 8, ..., 7, 8, 8],
        [7, 6, 8, ..., 7, 7, 6]]])

In [62]:
start_index

array([[3, 1, 0, ..., 2, 2, 1],
       [0, 2, 1, ..., 3, 0, 1],
       [1, 2, 1, ..., 0, 3, 1],
       ...,
       [1, 2, 3, ..., 1, 1, 1],
       [2, 0, 1, ..., 3, 0, 0],
       [1, 3, 1, ..., 3, 0, 0]])

In [63]:
end_index

array([[7, 7, 7, ..., 6, 7, 8],
       [7, 7, 7, ..., 5, 5, 8],
       [7, 6, 7, ..., 7, 5, 5],
       ...,
       [6, 8, 8, ..., 5, 5, 6],
       [7, 5, 8, ..., 7, 8, 8],
       [7, 6, 8, ..., 7, 7, 6]])

In [76]:
np.r_[map(tuple, np.vectorize(slice)(start_index, end_index))]

array([[slice(3, 7, None), slice(1, 7, None), slice(0, 7, None), ...,
        slice(2, 6, None), slice(2, 7, None), slice(1, 8, None)],
       [slice(0, 7, None), slice(2, 7, None), slice(1, 7, None), ...,
        slice(3, 5, None), slice(0, 5, None), slice(1, 8, None)],
       [slice(1, 7, None), slice(2, 6, None), slice(1, 7, None), ...,
        slice(0, 7, None), slice(3, 5, None), slice(1, 5, None)],
       ...,
       [slice(1, 6, None), slice(2, 8, None), slice(3, 8, None), ...,
        slice(1, 5, None), slice(1, 5, None), slice(1, 6, None)],
       [slice(2, 7, None), slice(0, 5, None), slice(1, 8, None), ...,
        slice(3, 7, None), slice(0, 8, None), slice(0, 8, None)],
       [slice(1, 7, None), slice(3, 6, None), slice(1, 8, None), ...,
        slice(3, 7, None), slice(0, 7, None), slice(0, 6, None)]],
      dtype=object)

In [69]:
np.r_[tuple(list(map(np.vectorize(slice), start_index, end_index)))]

array([slice(3, 7, None), slice(1, 7, None), slice(0, 7, None), ...,
       slice(3, 7, None), slice(0, 7, None), slice(0, 6, None)],
      dtype=object)

In [173]:
import pandas as pd
import numpy as np

df = pd.DataFrame([{'name': 'John', 'points' : [1,1,3,5]},{'name': 'John', 'points' : [2,0,1,5]},{'name': 'John', 'points' : [4,1,2,2]}])
df['points'] = df['points'].apply(lambda x : np.array(x)) # converting the list column to pd.array()

df

   name        points
0  John  [1, 1, 3, 5]
1  John  [2, 0, 1, 5]
2  John  [4, 1, 2, 2]

In [174]:
   name         points
0  John  [4, 1, 3, 5]

SyntaxError: invalid syntax (<ipython-input-174-35af9da025f7>, line 1)

In [221]:
df.groupby('name')['points'].apply(pd.Series)

0    [1, 1, 3, 5]
1    [2, 0, 1, 5]
2    [4, 1, 2, 2]
Name: points, dtype: object

In [282]:
import pandas as pd
df = pd.DataFrame({'a': [1,2,3,4,5,6,7,8,9,10], 'b': [11,22,11,22,33,11,22,44,11,22]})
df

    a   b
0   1  11
1   2  22
2   3  11
3   4  22
4   5  33
5   6  11
6   7  22
7   8  44
8   9  11
9  10  22

In [283]:
pd.crosstab(df['a'],df['b'])

b   11  22  33  44
a
1    1   0   0   0
2    0   1   0   0
3    1   0   0   0
4    0   1   0   0
5    0   0   1   0
6    1   0   0   0
7    0   1   0   0
8    0   0   0   1
9    1   0   0   0
10   0   1   0   0

In [284]:
df['a'].dot(df['b'])

1232

In [298]:
df

    a   b
0   1  11
1   2  22
2   3  11
3   4  22
4   5  33
5   6  11
6   7  22
7   8  44
8   9  11
9  10  22

In [315]:
print(df.assign(v=1).pivot('a','b').fillna(0))

      v
b    11   22   33   44
a
1   1.0  0.0  0.0  0.0
2   0.0  1.0  0.0  0.0
3   1.0  0.0  0.0  0.0
4   0.0  1.0  0.0  0.0
5   0.0  0.0  1.0  0.0
6   1.0  0.0  0.0  0.0
7   0.0  1.0  0.0  0.0
8   0.0  0.0  0.0  1.0
9   1.0  0.0  0.0  0.0
10  0.0  1.0  0.0  0.0

In [320]:
a, b = 123, 4567

int(a*10**np.ceil(np.log10(b))+b)

1234567

1234567

1234567.0

In [321]:
import numpy as np

a, b = 123, 4567

#int(a*10**np.ceil(np.log10(b))+b)

In [363]:
def get_pos_nums(num):
    pos_nums = []
    n = 0
    while num != 0:
        pos_nums.append((num % 10) * 10**n)
        num = num // 10
        n = n + 1
    return pos_nums

In [367]:
def get_pos_nums(num):
    pos_nums = []
    while num != 0:
        pos_nums.append((num % 10))
        num = num // 10
    return pos_nums

In [370]:
digits_a = get_pos_nums(a)

In [371]:
digits_b = get_pos_nums(b)

In [372]:
digits_a

[3, 2, 1]

In [382]:
np.max([np.ceil(np.log10(b)), np.ceil(np.log10(a))])

4.0

In [405]:
from itertools import zip_longest

def get_pos_nums(num):
    pos_nums = []
    while num != 0:
        pos_nums.append((num % 10))
        num = num // 10
    return list(reversed(pos_nums))

l = [i for j in zip_longest(get_pos_nums(a), get_pos_nums(b)) for i in j if i!=None]
number = sum(d * 10**i for i, d in enumerate(l[::-1]))

1425367

In [373]:
digits_b

[7, 6, 5, 4]

In [377]:
power = max(len(digits_a), len(digits_b))

In [406]:
matrix = [[2,10,9,6],
          [5,1,4,7],
          [3,2,1,0], 
          [10, 20, 1, 4], 
          [17, 3, 5, 18]]

In [407]:
from scipy.spatial.distance import cdist
dist = cdist( matrix, matrix, metric='euclidean')

In [408]:
dist

array([[ 0.        , 10.77032961, 12.84523258, 15.23154621, 20.83266666],
       [10.77032961,  0.        ,  7.93725393, 20.09975124, 16.43167673],
       [12.84523258,  7.93725393,  0.        , 19.72308292, 23.17326045],
       [15.23154621, 20.09975124, 19.72308292,  0.        , 23.4520788 ],
       [20.83266666, 16.43167673, 23.17326045, 23.4520788 ,  0.        ]])

In [424]:
np.where(dist.argsort(1).argsort(1) <= 2, dist, 0)

array([[ 0.        , 10.77032961, 12.84523258,  0.        ,  0.        ],
       [10.77032961,  0.        ,  7.93725393,  0.        ,  0.        ],
       [12.84523258,  7.93725393,  0.        ,  0.        ,  0.        ],
       [15.23154621,  0.        , 19.72308292,  0.        ,  0.        ],
       [20.83266666, 16.43167673,  0.        ,  0.        ,  0.        ]])

In [433]:
import time

def f1(x):
    print("f1")
    print(x)
    time.sleep(2)
    return 0

def f2(x):
    print("f2")
    print(x)
    time.sleep(2)
    return 1


a = np.array([-1, 1])
np.where(a<0)

(array([0]),)

In [434]:
x = np.array([3, 4, 2, 1])

In [435]:
x

array([3, 4, 2, 1])

In [437]:
x[np.argpartition(x, 3)]

array([2, 1, 3, 4])

In [438]:
dist

array([[ 0.        , 10.77032961, 12.84523258, 15.23154621, 20.83266666],
       [10.77032961,  0.        ,  7.93725393, 20.09975124, 16.43167673],
       [12.84523258,  7.93725393,  0.        , 19.72308292, 23.17326045],
       [15.23154621, 20.09975124, 19.72308292,  0.        , 23.4520788 ],
       [20.83266666, 16.43167673, 23.17326045, 23.4520788 ,  0.        ]])

In [444]:
np.argpartition(dist, (0,1,2), axis=1)

array([[0, 1, 2, 3, 4],
       [1, 2, 0, 3, 4],
       [2, 1, 0, 3, 4],
       [3, 0, 2, 1, 4],
       [4, 1, 0, 3, 2]])

In [445]:
dist.argsort(1).argsort(1)

array([[0, 1, 2, 3, 4],
       [2, 0, 1, 4, 3],
       [2, 1, 0, 3, 4],
       [1, 3, 2, 0, 4],
       [2, 1, 3, 4, 0]])

In [448]:
dist

array([[ 0.        , 10.77032961, 12.84523258, 15.23154621, 20.83266666],
       [10.77032961,  0.        ,  7.93725393, 20.09975124, 16.43167673],
       [12.84523258,  7.93725393,  0.        , 19.72308292, 23.17326045],
       [15.23154621, 20.09975124, 19.72308292,  0.        , 23.4520788 ],
       [20.83266666, 16.43167673, 23.17326045, 23.4520788 ,  0.        ]])

In [452]:
np.argsort(-dist, axis=1)

array([[4, 3, 2, 1, 0],
       [3, 4, 0, 2, 1],
       [4, 3, 0, 1, 2],
       [4, 1, 2, 0, 3],
       [3, 2, 0, 1, 4]])

In [455]:
np.argpartition(np.argpartition(dist, (0,1,2)), (0,1,2))

array([[0, 1, 2, 3, 4],
       [2, 0, 1, 3, 4],
       [2, 1, 0, 3, 4],
       [1, 3, 2, 0, 4],
       [2, 1, 4, 3, 0]])