In [2]:
import pandas as pd
import numpy as np

In [3]:
def ciphertextFor(text, key):
    cpt = []
    for i in range(len(text)):
        cpt.append(chr((ord(text[i])+ord(key[i])) % 26+65))
    return ''.join(cpt)

In [5]:
ciphertextFor('ajshwhsuhe','amchaksheo')

'MHGAIDWNXE'

In [9]:
''.join([chr((ord(text[i])+ord(key[i])) % 26+65) for i in range(len(text))])

'MHGAIDWNXE'

In [24]:
length = 5
a = {'this':1, 'is':2, 'an':3, 'example':4}

out = pd.DataFrame({0:[a] * 5})
print(out)

                                             0
0  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
1  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
2  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
3  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
4  {'this': 1, 'is': 2, 'an': 3, 'example': 4}

                                             0
0  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
1  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
2  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
3  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
4  {'this': 1, 'is': 2, 'an': 3, 'example': 4}

                                             0
0  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
1  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
2  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
3  {'this': 1, 'is': 2, 'an': 3, 'example': 4}
4  {'this': 1, 'is': 2, 'an': 3, 'example': 4}

In [25]:
text, key = 'ajshwhsuhe','amchaksheo'

In [31]:
%timeit ''.join(chr((ord(text[i])+ord(key[i])) % 26+65) for i in range(len(text)))

3.35 µs ± 113 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [32]:
%timeit ''.join(chr((ord(x)+ord(y)) % 26+65) for x,y in zip(text, key))

2.95 µs ± 12.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)